@{
    Layout = null;
    ViewData["Title"] = "Review Agreement";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HalloDoc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/HalloDoc.styles.css" asp-append-version="true" />
</head>
<body>

<div class="mainContent2 " style="margin-top:10%" >
<div class="d-flex justify-content-center align-items-center" >
  
       <div class="container w-50 ">
            <p style="font-weight:500"> To provide best medical service, we cannot determine the cost right away. If you agree to our service, so we will provide care and follow-up until all care is completed. So with this points, if you like us to provide care to you click on “Agree” and we’ll get started immediately, if you do not agree simply click “Cancel”. </p>
           <div class="d-flex justify-content-around">
                <button type="button" class="btn btn-success" id="sendAgreement">I agree</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" id="cancelAgreement">Cancel</button>
           </div>

       </div>

</div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cancle Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                </div>
                <div class="modal-body">

                    <p class="">
                            <span id="name"></span>
                    </p>
                    <div class=" d-flex justify-content-center ">
                        <textarea placeholder="Please provide a brief explanation for your cancelation" class="form-control " id="textAreaExample2" style="height: 120px;" rows="8"></textarea>

                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-end">
                        <button type="button" class="createNewReqBtn submitBtn " id="ConfirmCancleAgreement" >
                        Confirm
                    </button>

                    <button type="button" class="createNewReqBtn" data-bs-dismiss="modal">
                        Cancle
                    </button>


                </div>
            </div>
        </div>
    </div>

</div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script>
        var urlParams = new URLSearchParams(window.location.search);
        var requestClientID = urlParams.get("requestClinetID");

        $('#sendAgreement').click(function () {

            $.ajax({
                type: "POST",
                url: '@Url.Action("AcceptAgreement", "Custom")',
                data: { id: requestClientID }
            })
                .done(function (response) {
                    Swal.fire({
                        title: "Success",
                        text: "Agreement accepted successfully",
                        icon: "success",
                        timer: 1500
                    }).then(function () {
                        window.location.href = '@Url.Action("RegisterdPatientLogin", "Custom")';
                    });
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    Swal.fire({
                        title: "Error",
                        text: "Error accepting agreement: " + textStatus + ": " + errorThrown,
                        icon: "error",
                        confirmButtonText: "OK"
                    });
                });
        });
        $('#cancelAgreement').click(function () {

            $.ajax({
                type: "GET",
                url: '@Url.Action("CancelAgreement", "Custom")',
                data: { id: requestClientID },
                success: function (name) {

                    $('#name').text(name);

                    $('#exampleModal').modal('show');
                }

            })
        });
        $('#ConfirmCancleAgreement').click(function () {
            var note = $('#textAreaExample2').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ConfirmCancelAgreement", "Custom")',
                data: { id: requestClientID, note: note },
                    
            }).done(function (response) {
                Swal.fire({
                    title: "Done",
                    text: "Agreement Rejected successfully",
                    icon: "success",
                    allowOutsideClick: false,
                    showConfirmButton: false,
                    timer: 2500
                }).then(function () {
                    window.location.href = '@Url.Action("RegisterdPatientLogin", "Custom")';
                });
            });
        });
        
        
        $(document).ready(function () {
            var theme = getCookie("theme");
            if (theme == "dark") {
                $("body").addClass("darkMode");
                $(".mainSection").addClass("darkMode");
                $(".header2").addClass("bg-dark");
                $(".header2").removeClass("bg-white");

                $(".header").addClass("bg-dark");
                $(".header").removeClass("bg-white");
                $(".subHeader").addClass("bg-dark");
                $(".subHeader").removeClass("bg-white");

                $(".mobileviewdashboard").addClass("darkMode");
            }
        });
        if (localStorage.getItem("Mytheme")) {
            body.classList.toggle(localStorage.getItem("Mytheme"));
        }
        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }

    </script>

    
</body>
</html>


