
<nav class=" d-flex px-2 justify-content-end justify-content-md-end  flex-column flex-md-row align-items-center " >
    <select class="form-select required w-25" name="length" onchange="check()">
        <option value="5">5</option>
        <option value="1">10</option>
        <option value="15">15</option>
    </select>
    <span class="mb-2 ps-3 mx-3" style="font-weight:600;">@Model.FirstItemIndex - @Model.LastItemIndex of @Model.TotalCount</span>

    <ul class="pagination me-2">
        <li class="page-item @(Model.CurrentPage <= 1 ? "disabled" : "")">
            <button class="page-link" onclick="changepage(@Model.CurrentPage - 1)"><i class="bi bi-chevron-left text-black"></i></button>
        </li>
        @if (Model.TotalPages > Model.PageSize)
        {
            int startPage = Model.CurrentPage - (Model.PageSize / 2);
            int endPage = Model.CurrentPage + (Model.PageSize / 2);
            if (startPage < 1)
            {
                endPage -= startPage - 1;
                startPage = 1;
            }
            if (endPage > Model.TotalPages)
            {
                startPage -= endPage - Model.TotalPages;
                endPage = Model.TotalPages;
            }
            for (int i = startPage; i <= endPage; i++)
            {
                <li class="page-item">
                    <button class="page-link @(i == Model.CurrentPage ? "bg-info text-white fw-bold" : "") mx-1 text-black" onclick="changepage(@i)">@i</button>
                </li>
            }
        }
        else
        {
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item">
                    <button class="page-link @(i == Model.CurrentPage ? "bg-info text-white fw-bold" : "") mx-1 text-black" onclick="changepage(@i)">@i</button>
                </li>
            }
        }
        <li class="page-item @(Model.CurrentPage >= Model.TotalPages ? "disabled" : "")">
            <button class="page-link" onclick="changepage(@Model.CurrentPage + 1)"><i class="bi bi-chevron-right text-black"></i></button>
        </li>
    </ul>

</nav>
<script>
   
</script>