@model IEnumerable<HalloDoc.Entities.ViewModels.AdminDashboardViewModel>;

<div class="row mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <div class="sectionHeading">
            <strong class="tableHead ">
                <h3 class="">Patients</h3>
                <h5 style="color:#203e84;font-size:14px" class="">(New)</h5>
            </strong>
        </div>
        <div class="dashboardLinks d-flex flex-row-reverse flex-wrap " style="float:right">
            <a href="#" class="mainTextLink">
                <img src="~/images/man-svgrepo-com.png" class="iconLink " style="width:25px;color:white" />
                Request DTY Support</a>
            <a href="#" class="mainTextLink">
                <img src="~/images/export-svgrepo-com.png" class="iconLink " style="width:25px;color:white" />
           

            Export All</a>
            <a href="#" class="mainTextLink">
                <img src="~/images/export-svgrepo-com.png" class="iconLink " style="width:25px;color:white" />Export
            </a>
            <a href="#" class="mainTextLink"><i class="bi bi-file-earmark iconLink"></i>Create Requests</a>
            <a href="#" class="mainTextLink">
                <i class="bi bi-send iconLink"></i>

                Send Link
            </a>
        </div>
    </div>

</div>
<div class="container-fluid rounded formshadow px-2 py-1">
    <div class="row mt-3">
        <div class="col-12 d-flex justify-content-between flex-wrap align-items-center">
            <div class="d-flex flex-wrap col-lg-6 col-md-12 col-sm-12 searchDiv">
                <div class="form-group has-search col-lg-4 col-md-6 col-sm-6">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control " placeholder="Search">
                </div>
                <div class="has-search col-lg-4 col-md-6 col-sm-6 ">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>All Regions</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 d-flex flex-wrap align-items-center formbasetab">
                <div class=""> <button class="firstType"> All   </button></div>
                <button class="btn type"><span class="dot1 "></span><span class="sidetabdashboard">Patient</span></button>
                <button class="btn type"><span class="dot2 "></span><span class="sidetabdashboard">Family/Friend</span></button>
                <button class="btn type"><span class="dot4 "></span><span class="sidetabdashboard">Concierge</span></button>
                <button class="btn type"><span class="dot3 "></span><span class="sidetabdashboard">Business</span></button>

            </div>
        </div>
        @* admin dashboard Desktop *@
        <div class=" table-responsive mt-5 adminDashTable">
            <table class="table">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Date Of Birth</th>
                        <th scope="col">Requester</th>
                        <th scope="col">Requested Date</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Address</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Chat With</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>


                @foreach (var request in Model)
                {

                    var bgColor = "";

                    switch (request.RequestTypeID)
                    {
                        case 1:
                            bgColor = "green";
                            break;
                        case 2:
                            bgColor = "orange"; //rgb(75, 223, 75)
                            break;
                        case 3:
                            bgColor = "blue";
                            break;
                        case 4:
                            bgColor = "pink";
                            break;
                        default:
                            bgColor = " ";
                            break;
                    }

                    <tbody>

                        <tr class="@bgColor" style="color:white;">
                            <td>@request.PatientName</td>
                            <td>@request.DateOfBirth</td>
                            <td>@request.Requestor</td>
                            <td>@request.RequestedDate</td>

                            <td>
                                @{
                                    var requestor = "";
                                    var display = "block";
                                    if (request.RequestTypeID == 2)
                                    {
                                        requestor = "Family/Friend";


                                    }
                                    else if (request.RequestTypeID == 3)
                                    {
                                        requestor = "Concierge";

                                    }
                                    else if (request.RequestTypeID == 1)
                                    {
                                        requestor = "";
                                        display = "none";

                                    }
                                    else
                                    {
                                        requestor = "Business";

                                    }
                                }
                                <div class="dashboardBTN">
                                    @request.PatientPhone
                                </div>
                                (Patient)
                                <div style="display:@display">

                                    <br>
                                    <div class="dashboardBTN">
                                        @request.RequestorPhone
                                    </div>
                                    (@requestor)
                                </div>
                            </td>
                            <td>@request.Address</td>
                            <td>@request.Notes</td>
                            <td><button class="dashboardBTN">Provider</button></td>
                            <td>
                                <div class="btn-group dropstart">
                                    <button type="button" class="dashboardBTN" data-bs-toggle="dropdown" aria-expanded="false">
                                        Actions
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>View Case</li>
                                        <li>View Case</li>
                                        <li>View Case</li>

                                    </ul>
                                </div>
                            </td>
                        </tr>

                    </tbody>

                }
            </table>
        </div>
        @* admin dashboard Mobile *@
        <div class="adminDashMobile">
            <div class="mobileviewdashboard my-3 p-2">
                <button type="button" class="table-btn collapsible d-flex flex-column">
                    <span>
                        Patient Name
                    </span>
                    Address
                </button>

                <div class="content" style="display:none">
                    <hr />
                    <div class="d-flex justify-content-end">
                        <button class="viewCaseBtn">View Case</button>
                    </div>
                    <div class="">
                        <i class="bi bi-calendar"></i>
                        Date Of Birth: <span>-</span>
                    </div>
                    <div class="">
                        <i class="bi bi-envelope"></i>
                        Email:
                        <br />
                        Current Status:
                        <br />
                        <i class="bi bi-telephone"></i>
                        Patient:
                        <br />
                        <i class="bi bi-calendar"></i>

                        Date Of Service:
                        <br />
                        <i class="bi bi-person"></i>
                        Physician:
                        <br />

                        Requestor:
                    </div>
                    <br />
                    <div class=" row z ">
                        <button class="col-5 mobileDashBtn adminDashBtn">View Notes</button>
                        <button class="col-5 mobileDashBtn adminDashBtn2">Doctors Notes</button>
                        <button class="col-5 mobileDashBtn adminDashBtn">View Uploads</button>
                        <button class="col-5 mobileDashBtn adminDashBtn">Encounter</button>
                        <button class="col-5 mobileDashBtn adminDashBtn3">Orders</button>
                        <button class="col-5 mobileDashBtn adminDashBtn">Email</button>
                    </div>
                    <div>
                        Chat With:
                        <button class="bg-transparent normalbtn">Patient</button>
                        <button class="bg-transparent normalbtn">Provider</button>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
