@model HalloDoc.Entities.ViewModels.ProviderViewModel
@{
    ViewBag.access = "active";
    ViewData["Title"] = "Create Provider Account";
}
<div class="mainSectionMargin ">
    <div class="d-flex flex-column align-items-center justify-content-center ">

        <div class="PatientInfo d-flex justify-content-between align-items-center mb-2">
            <h3>Physician Account</h3>
            <a href="##" onClick="history.go(-1); return false;" style=" right: 0px; text-decoration: none; ">
                <button class="back">
                    <i class="bi bi-chevron-left"></i>
                    back
                </button>
            </a>
        </div>
        <div class="p-4  mb-3 rounded formshadow h-100 PatientInfo">
            <form asp-action="CreateProvider" asp-controller="Admin" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PhysicianId" />

                <h3>Account Information</h3>

                <div class="row formrow ">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="UserName" type="text" class="form-control" placeholder=" " id="username" disabled>
                            <label for=" ">UserName</label>
                            <span asp-validation-for="UserName" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="Password" type="password" class="form-control" placeholder=" ">
                            <label for=" ">Password</label>
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <select class="form-select form-select-sm  edit" style="height:55px;" aria-label="Default select example" aria-height="5vh" asp-for="statusId" >
                                <option value="0" selected>Status</option>

                                @foreach (var status in Model.status)
                                {

                                    <option value="@status.Statusid">@status.Statusname</option>
                                }
                            </select>
                            <label for="">Status</label>
                            <span asp-validation-for="statusId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <select class="form-select form-select-sm  edit2" style="height:60px" aria-label="Default select example" aria-height="5vh" asp-for="RoleId">
                            <option value="0" selected disabled>Role</option>

                            @foreach (var role in Model.Role)
                            {
                                <option value="@role.RoleId">@role.Name</option>
                            }
                        </select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>

                    </div>
                </div>



                <h3> Physician Information</h3>
                <input type="hidden" asp-for="PhysicianId" />
                <div class="row formrow">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="FirstName" type="text" class="form-control edit" id="FirstName" placeholder=" ">
                            <label for=" ">First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="LastName" type="text" class="form-control edit" id="LastName" placeholder=" ">
                            <label for=" ">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="Email"
                                   id="Email" onblur="AlertName()" type="email" autocomplete="off"
                                   class="form-control edit" placeholder=" ">
                            <label for=" ">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <div class="form-floating form-group  border">
                            <input asp-for="PhoneNumber" id="phone" type="tel" style="border: none;height: 54px;" class="edit" />

                        </div>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <div class="form-floating form-group">
                            <input asp-for="MedicalLicense"
                                   type="text" autocomplete="off"
                                   class="form-control edit" placeholder=" ">
                            <label for=" ">MedicalLicense</label>
                            <span asp-validation-for="MedicalLicense" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <div class="form-floating form-group">
                            <input asp-for="NPINumber"
                                   type="text" autocomplete="off"
                                   class="form-control edit" placeholder=" ">
                            <label for=" ">NPInumber</label>
                            <span asp-validation-for="NPINumber" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <div class="form-floating form-group">
                            <input asp-for="SyncEmail"
                                   id="Email" type="email" autocomplete="off"
                                   class="form-control edit" placeholder=" ">
                            <label for=" ">Syncronization Email Address</label>
                            <span asp-validation-for="SyncEmail" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
                        @foreach (var cb in Model.State)
                        {

                            <div class="form-check mx-2">
                                <input class="form-check-input edit" type="checkbox" id="AdminRegionID-@cb.RegionId" name="physicianRegionids" value="@cb.RegionId">
                                <label class="form-check-label" for="AdminRegionID-@cb.RegionId">

                                    @cb.Name
                                </label>
                            </div>
                        }
                    </div>

                </div>



                <h3> Mailing & Billing Information</h3>

                <div class="row formrow">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="Address1" type="text" class="form-control edit2" id="Address1" placeholder=" ">
                            <label for=" ">Address1</label>
                            <span asp-validation-for="Address1" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="Address2" type="text" class="form-control edit2" id="Address2" placeholder=" ">
                            <label for=" ">Address2 </label>
                            <span asp-validation-for="Address2" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="City" type="text" class="form-control edit2" id="city" placeholder=" ">
                            <label for=" ">City </label>
                            <span asp-validation-for="City" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 dropdownState">

                        <select class="form-select form-select-sm  edit2" style="height:60px" aria-label="Default select example" aria-height="5vh" asp-for="RegionId">
                            <option value="0" selected disabled>State</option>

                            @foreach (var region in Model.State)
                            {
                                <option value="@region.RegionId">@region.Name</option>
                            }
                        </select>
                        <span asp-validation-for="RegionId" class="text-danger"></span>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="Zip" type="text" class="form-control edit2" id="zip" placeholder=" ">
                            <label for=" ">Zip code</label>
                            <span asp-validation-for="Zip" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <div class="form-floating form-group  border">
                            <input asp-for="BillingPhoneNumber" id="phone2" type="tel" style="border: none;height: 54px;" class="edit2" />

                        </div>
                        <span asp-validation-for="BillingPhoneNumber" class="text-danger"></span>
                    </div>
                    <input type="hidden" id="latitude"  asp-for="latitude"/>
                    <input type="hidden" id="longitude" asp-for="longitude"/>


                </div>


                <h3> Provider Profile</h3>

                <div class="row formrow">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="BusinessName" type="text" class="form-control edit2" placeholder=" ">
                            <label for=" ">Business Name</label>
                            <span asp-validation-for="BusinessName" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <input asp-for="BusinessWebsite" type="text" class="form-control edit2" placeholder=" ">
                            <label for=" ">Business Website </label>
                            <span asp-validation-for="BusinessWebsite" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating form-group">
                            <div class="form-floating form-group input-group mb-3">
                                <input asp-for="@Model.Photo" style="border-radius:10px" type="file"  class="form-control" id="UploadButton">
                                <label class="form-label">Select File</label>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 dropdownState">
                        <div class="form-floating form-group">

                            <textarea asp-for="AdminNotes" class="form-control " id="textAreaExample2" style="height: 120px;" rows="8" placeholder=" "></textarea>
                            <label class="form-label" for="textAreaExample2">
                                Admin Notes

                            </label>
                            <span asp-validation-for="AdminNotes" class="text-danger"></span>
                        </div>
                    </div>



                </div>

                <hr />
                <h3> Onboarding</h3>
                <table>
                    <tr>
                        <td> <input type="checkbox" asp-for="@Model.IsAgreementDoc" id="contractoragreement" class="mx-2" /> </td>
                        <td> <span class="mx-2">Independent Contractor Agreement</span> </td>
                        <td>
                            <input asp-for="@Model.contractoragreement" type="file" id="file1" hidden />
                            <label type="button" class="btn btn-info text-white mx-2" for="file1">Upload</label>
                        </td>
                        <td>
                            <a type="button" class="btn btn-info text-decoration-none text-white d-none" id="viewbtn1">View</a>
                            @if (Model.IsAgreementDoc == true)
                            {

                                var newName = Model.PhysicianId + "_contractoragreement.pdf";
                                <a type="button" class="btn btn-info text-decoration-none text-white" id="viewbtn-1" href="/uploads/physician/doc/@newName" target="_blank">View</a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td> <input type="checkbox" asp-for="@Model.isbackgroundcheck" id="backgroundcheck" class="mx-2" /> </td>
                        <td> <span class="mx-2">Background Check</span> </td>
                        <td>
                            <input asp-for="@Model.backgroundcheck" type="file" id="file2" hidden />
                            <label type="button" class="btn btn-info text-white mx-2" for="file2">Upload</label>
                        </td>
                        <td>
                            <a type="button" class="btn btn-info text-decoration-none text-white d-none" id="viewbtn2">View</a>
                            @if (Model.isbackgroundcheck == true)
                            {

                                var newName = Model.PhysicianId + "_backgroundcheck.pdf";
                                <a type="button" class="btn btn-info text-decoration-none text-white" id="viewbtn-2" href="/uploads/physician/doc/@newName" target="_blank">View</a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td> <input type="checkbox" id="hipaa" asp-for="@Model.Ishippa" class="mx-2" /> </td>
                        <td> <span class="mx-2">HIPPA Compliance</span> </td>
                        <td>
                            <input asp-for="@Model.hippa" type="file" id="file3" hidden />
                            <label type="button" class="btn btn-info text-white mx-2" for="file3">Upload</label>
                        </td>
                        <td>
                            <a type="button" class="btn btn-info text-decoration-none text-white d-none" id="viewbtn3">View</a>
                            @if (Model.Ishippa == true)
                            {

                                var newName = Model.PhysicianId + "_hippa.pdf";
                                <a type="button" class="btn btn-info text-decoration-none text-white" id="viewbtn-3" href="/uploads/physician/doc/@newName" target="_blank">View</a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td> <input type="checkbox" asp-for="@Model.IsAgreementDocnondisclosure" id="non-disclosureagreement" class="mx-2" /> </td>
                        <td> <span class="mx-2">Non Disclosureagreement</span> </td>
                        <td>
                            <input asp-for="@Model.nondisclosure" type="file" id="file4" hidden />
                            <label type="button" class="btn btn-info text-white mx-2" for="file4">Upload</label>
                        </td>
                        <td>
                            <a type="button" class="btn btn-info text-decoration-none text-white d-none" id="viewbtn4">View</a>
                            @if (Model.Ishippa == true)
                            {

                                var newName = Model.PhysicianId + "_nonDisclosure.pdf";
                                <a type="button" class="btn btn-info text-decoration-none text-white" id="viewbtn-4" href="/uploads/physician/doc/@newName" target="_blank">View</a>
                            }
                        </td>
                    </tr>
                </table>
                <hr />
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">Create Account</button>
                </div>

            </form>
        </div>
    </div>
</div>


<script>

    // Append first name and last name to the username field
    $('#LastName').on('blur', function () {
        var firstName = $('#FirstName').val().trim();
        var lastName = $('#LastName').val().trim();
        if (firstName && lastName) {
            $('#username').val(firstName + '.' + lastName).prop('disabled', true);
            var check = $('#username').val().trim();
            console.log(check);

        } else {
            $('#username').val('').prop('disabled', true);
        }
    });




    $('input[type = "file"]').change(function () {
        var files = this.files;
        var id = this.id;
        if (files.length != 0) {
            if (id == "file1") {
                $('#contractoragreement').prop('checked', true);
                $('#viewbtn1').removeClass('d-none');
                $('#viewbtn-1').addClass('d-none');
                $('#viewbtn1').attr('href', URL.createObjectURL(this.files[0]));
                $('#viewbtn1').attr('target', '_blank');
            }
            if (id == "file2") {
                $('#backgroundcheck').prop('checked', true);
                $('#viewbtn2').removeClass('d-none');
                $('#viewbtn-2').addClass('d-none');
                $('#viewbtn2').attr('href', URL.createObjectURL(this.files[0]));
                $('#viewbtn2').attr('target', '_blank');
            }
            if (id == "file3") {
                $('#hipaa').prop('checked', true);
                $('#viewbtn3').removeClass('d-none');
                $('#viewbtn-3').addClass('d-none');
                $('#viewbtn3').attr('href', URL.createObjectURL(this.files[0]));
                $('#viewbtn3').attr('target', '_blank');
            }
            if (id == "file4") {
                $('#non-disclosureagreement').prop('checked', true);
                $('#viewbtn4').removeClass('d-none');
                $('#viewbtn-4').addClass('d-none');
                $('#viewbtn4').attr('href', URL.createObjectURL(this.files[0]));
                $('#viewbtn4').attr('target', '_blank');
            }
            if (id == "file5") {
                $('#licensedocument').prop('checked', true);
                $('#viewbtn5').removeClass('d-none');
                $('#viewbtn-5').addClass('d-none');
                $('#viewbtn5').attr('href', URL.createObjectURL(this.files[0]));
                $('#viewbtn5').attr('target', '_blank');
            }
        }
        else {
            if (id == "file1") {
                $('#contractoragreement').prop('checked', false);
                $('#viewbtn1').addClass('d-none');
                $('#viewbtn-1').removeClass('d-none');
                $('#viewbtn1').removeAttr('href');

            }
            if (id == "file2") {
                $('#backgroundcheck').prop('checked', false);
                $('#viewbtn2').addClass('d-none');
                $('#viewbtn-2').removeClass('d-none');
                $('#viewbtn2').removeAttr('href');

            }
            if (id == "file3") {
                $('#hipaa').prop('checked', false);
                $('#viewbtn3').addClass('d-none');
                $('#viewbtn-3').removeClass('d-none');
                $('#viewbtn3').removeAttr('href');

            }
            if (id == "file4") {
                $('#non-disclosureagreement').prop('checked', false);
                $('#viewbtn4').addClass('d-none');
                $('#viewbtn-4').removeClass('d-none');
                $('#viewbtn4').removeAttr('href');

            }
            if (id == "file5") {
                $('#licensedocument').prop('checked', false);
                $('#viewbtn5').addClass('d-none');
                $('#viewbtn-5').removeClass('d-none');
                $('#viewbtn5').removeAttr('href');

            }
        }
    });




    //dark theme
    if (localStorage.getItem("Mytheme")) {
        body.classList.toggle(localStorage.getItem("Mytheme"));
    }
    //phone number flag
    const phoneInputField = document.querySelector("#phone");

    const phoneInput = window.intlTelInput(phoneInputField, {
        autoInsertDialCode: true,
        fixDropdownWidth: true,
        formatOnDisplay: false,

        defaultToFirstCountry: true,
        initialCountry: "in",
        nationalMode: false,
        useFullscreenPopup: false,
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",

    });
    $('#phone').attr('value', "+91");
    const phoneInputField1 = document.querySelector("#phone2");

    const phoneInput1 = window.intlTelInput(phoneInputField1, {
        autoInsertDialCode: true,
        fixDropdownWidth: true,
        formatOnDisplay: false,

        defaultToFirstCountry: true,
        initialCountry: "in",
        nationalMode: false,
        useFullscreenPopup: false,
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",

    });
    $('#phone').attr('value', "+91");


    //save-edit button
    var editButton = document.getElementById("edit-button");
    editButton.addEventListener("click", function () {
        var form = editButton.closest("form");
        var inputs = form.querySelectorAll(".edit");
        var saveButton = form.querySelector(".savebtn");

        inputs.forEach(function (input) {
            input.removeAttribute("readonly");
            input.removeAttribute("disabled");

        });
        saveButton.removeAttribute("disabled");
        saveButton.style.display = "block";

        editButton.style.display = "none";

    });
    var editButton2 = document.getElementById("edit-button2");
    editButton2.addEventListener("click", function () {

        var form1 = editButton2.closest("form");
        var inputs = form1.querySelectorAll(".edit2");
        var saveButton1 = form1.querySelector(".savebtn2");


        inputs.forEach(function (input) {
            input.removeAttribute("readonly");
            input.removeAttribute("disabled");


        });
        saveButton1.removeAttribute("disabled");
        saveButton1.style.display = "block";

        editButton2.style.display = "none";

    });
</script>