@model HalloDoc.Entities.ViewModels.AdminDashboardViewModel
@{
    ViewBag.adminDash = "active";
    ViewData["Title"] = "Dashboard";

}
@* model *@
<div class="modal fade" id="CancelCase" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade" id="AssignCase" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade" id="BlockCase" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade" id="ClearCase" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade" id="TransferCase" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade" id="SendAgreement" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade" id="support" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Request DTY Support</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="supprtForm" asp-controller="Admin" asp-action="sendMailToAllPhysicians">
                <div class="modal-body">
                    <small>To All unscheduled Physicians: We are short on covergae and needs additional  support on call to respond requests.</small>

                    <div class=" d-flex justify-content-center flex-column  ">

                        <div class="form-floating mt-1 form-group  rounded-3">
                            <textarea asp-for="Notes" class="form-control" id="additionalNotes" name="notess" style="height: 120px;" rows="8" placeholder=" "></textarea>
                            <label class="form-label" for="textAreaExample2">
                                Message
                            </label>
                            <span class="text-danger validate"></span>
                        </div>


                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-end">

                    <button class="btn btn-info" type="submit" >
                        Confirm
                    </button>

                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">
                        Cancle
                    </button>


                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="sendLinkToPatient" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content" id="modalBody">
        </div>
    </div>
</div>

@* model end *@
<main class="mainSectionMargin">
    <div class="container-fluid dashboardMain ">
        <div class="mgn">
            <div class="row cardRow g-2 ">
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col ">
                    <button class="cards active cardDesign1 " data-state="New" id="New" data-view-name="_NewPartialView" onclick="loadTable('New')">
                        <div class="row">
                            <div class="col-12">
                                <i class="fa-solid fa-bell cardContaint"></i>
                                <strong class="cardContaint ">
                                    NEW
                                </strong>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint font fs-3" id="newCountDisplay"></strong>

                            </div>
                        </div>
                    </button>
                    <div class="triangle mx-auto"></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <button class="cards cardDesign2  " id="Pending" data-view-name="_PendingPartialView" data-state="Pending" onclick="loadTable('Pending')">
                        <div class="row ">
                            <div class="col-12">
                                <i class="fa-solid fa-user-doctor cardContaint"></i>
                                <strong class="cardContaint">PENDING</strong>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint font fs-3" id="pendingCountDisplay"></strong>

                            </div>
                        </div>
                    </button>
                    <div class="triangle mx-auto"></div>

                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <button class="cards cardDesign3  " id="Active" data-state="Active" onclick="loadTable('Active')">
                        <div class="row ">
                            <div class="col-12">
                                <i class="fa-regular fa-circle-check cardContaint"></i>
                                <strong class="cardContaint">ACTIVE</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint font fs-3" data-state="Pending" id="ActiveCount"></strong>

                            </div>
                        </div>
                    </button>
                    <div class="triangle mx-auto"></div>


                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <button class="cards cardDesign4  " id="Conclude" data-state="Conclude" onclick="loadTable('Conclude')">
                        <div class="row ">
                            <div class="col-12">
                                <i class="fa-solid fa-clock-rotate-left cardContaint"></i>
                                <strong class="cardContaint">CONCLUDE</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint font fs-3" id="ConcludeCount"></strong>

                            </div>
                        </div>
                    </button>
                    <div class="triangle mx-auto"></div>


                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <button class="cards cardDesign5  " id="Toclose" data-state="Toclose" onclick="loadTable('Toclose')">
                        <div class="row ">
                            <div class="col-12">
                                <i class="fa-solid fa-user-xmark cardContaint"></i>
                                <strong class="cardContaint">TO CLOSE</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint font fs-3" id="ToCloseCount"></strong>

                            </div>
                        </div>
                    </button>
                    <div class="triangle mx-auto"></div>

                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <button class="cards cardDesign6  " id="Unpaid" data-state="Unpaid" onclick="loadTable('Unpaid')">
                        <div class="row ">
                            <div class="col-12">
                                <i class="fa-solid fa-hand-holding-dollar cardContaint"></i>
                                <strong class="cardContaint">UNPAID</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint font fs-3" id="UnpaidCount"></strong>

                            </div>
                        </div>
                    </button>
                    <div class="triangle mx-auto"></div>


                </div>

            </div>
            @* Table container *@
            <div class="row mt-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="sectionHeading">
                        <span class="tableHead ">
                            <div class="headerfontDash fw-3">Patients</div>
                            <div style="color:#203e84;" id="status">@ViewBag.state</div>
                        </span>
                    </div>
                    <div class="dashboardLinks d-flex  flex-wrap justify-content-end" style="float:right">
                        <a class="btn  btn-sm btn-info text-white px-2  mb-1  sendLink" data-bs-toggle="modal" type="button" data-bs-target="#sendLinkToPatient">
                            <i class="fa-regular fa-paper-plane"></i>
                            <span class="tabIcon">
                                Send Link

                            </span>
                        </a>
                        <a class="btn  btn-sm btn-info text-white px-2  mb-1" asp-action="CreateRequestByAdmin" asp-controller="Admin">
                            <i class="fa-solid fa-file-pen"></i>
                            <span class="tabIcon"> Create Requests</span>
                        </a>
                        <a class="btn btn-sm  btn-info text-white px-2  mb-1" onclick="ExportDataWithFilter()">
                            <i class="fa-solid fa-share"></i>
                            <span class="tabIcon">Export</span>
                        </a>
                        <a class="btn  btn-sm btn-info text-white px-2  mb-1" onclick="ExportAll()">
                            <i class="fa-solid fa-share-from-square"></i>
                            <span class="tabIcon ">
                                Export All

                            </span>
                        </a>

                        <a class="btn btn-sm btn-info text-white px-2  mb-1" onclick="support()">
                            <i class="fa-solid fa-hospital-user"></i>
                            <span class="tabIcon">Request DTY Support</span>
                        </a>



                    </div>
                </div>

            </div>
            <div class="container-fluid rounded formshadow px-0 py-1 h-auto">
                <div class="row px-2 mt-2">


                    <div class="col-lg-7 col-md-12 col-sm-12 inputSearchbox ">
                        <div class="col-lg-5 col-md-6 col-sm-6">
                            <div class="form-group has-search mb-1">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input type="text" class="form-control w-100" placeholder="Search" id="search-input">
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6">
                            <div class="has-search ">

                                <select style="height:38px;" id="allregionsearch" class="form-select form-select-sm " aria-label="Default select example" aria-height="5vh" asp-for="RegionId">
                                    <option value="0" selected>All Regions</option>

                                    @foreach (var region in Model.State)
                                    {
                                        <option value="@region.RegionId">@region.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 d-flex justify-content-end mb-3">
                        <div class="check mt-1">
                            <button class="btn request-type-btn filterData  " id="0" data-requesttype="0" data-state="All"> <span style="margin-left:5px">All</span>   </button>
                            <button class="btn  request-type-btn filterData " id="1" data-requesttype="1"><span class="dot1 mx-auto"></span><span style="margin-left:5px">Patient</span></button>
                            <button class="btn  request-type-btn  filterData" id="2" data-requesttype="2"><span class="dot2 mx-auto "></span><span style="margin-left:5px">Family/Friend</span></button>
                            <button class="btn  request-type-btn filterData " id="3" data-requesttype="3"><span class="dot4  mx-auto"></span><span style="margin-left:5px">Concierge</span></button>
                            <button class="btn  request-type-btn  filterData " id="4" data-requesttype="4"><span class="dot3  mx-auto"></span><span style="margin-left:5px">Business</span></button>
                        </div>
                    </div>


                </div>
                @* table *@
                <div id="admindata"></div>
               
            </div>
        </div>
    </div>
    </div>
</main>
<script>
   
    // Function to handle form submission
   

    //cards design
    $(document).ready(function () {
        $(".cards").click(function () {
            $(".cards").removeClass("active");
            $(this).addClass("active");

        });
    });

    //partialview

    function loadTable(STATE) {
        state = STATE;
        document.getElementById('status').innerText = "( " + (state) + " )";

        page = 1;
        AjaxAll();

    }

    //paging
    var page;
    var url;
    var PatientName = "";
    var requestType;
    var regionId;
    var state;

    //patient search

    $("#search-input").on('input', function () {
        PatientName = $(this).val();

        page = 1;
        AjaxAll();
    });

    function AjaxAll() {

       
      
        $.ajax({
            url: '@Url.Action("GetTable", "Admin")',
            type: "POST",
            data: { state: state, CurrentPage: page, PatientName: PatientName, ReqType: requestType, RegionId: regionId },
            dataType: "html",
            success: function (data) {
              
                $("#admindata").html(data);
                localStorage.setItem("state", state);
            },
            error: function (error) {
                $("#admindata").html('An error has occurred');
            }
        });
    }
    //requesttype
    $(".filterData").click(function () {
        var activeCard = $('.cards.active');

        var activeCardId = activeCard.attr('id');
        state = activeCardId;
        requestType = $(this).attr('id');

        page = 1;

        AjaxAll();
    })
    //search region
    $("#allregionsearch").on("input", function () {
        var activeCard = $('.cards.active');

        var activeCardId = activeCard.attr('id');
        state = activeCardId;

        regionId = $(this).val();
        page = 1;
        AjaxAll();
    })
    //change page
    function changepage(CurrentPage) {
        page = CurrentPage;


        AjaxAll();
    }

    //back
    var state1 = localStorage.getItem("state");
    localStorage.removeItem("state");

    if (state1 == "New") {

        $("#New").click();
        $(".cards").removeClass("active");

        $("#New").addClass("active");
        state1 = "New";

    }

    else if (state1 == "Pending") {

        $("#Pending").click();

        $(".cards").removeClass("active");

        $("#Pending").addClass("active");
        state1 = "New";

    }
    else if (state1 == "Active") {

        $("#Active").click();

        $(".cards").removeClass("active");

        $("#Active").addClass("active");
        state1 = "New";

    }
    else if (state1 == "Conclude") {

        $("#Conclude").click();

        $(".cards").removeClass("active");

        $("#Conclude").addClass("active");
        state1 = "New";

    }
    else if (state1 == "Toclose") {

        $("#Toclose").click();

        $(".cards").removeClass("active");

        $("#Toclose").addClass("active");
        state1 = "New";

    }
    else if (state1 == "Unpaid") {

        $("#Unpaid").click();

        $(".cards").removeClass("active");

        $("#Unpaid").addClass("active");
        state1 = "New";

    }




    //responsive mobile view
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "none") {
                content.style.display = "block";
            } else {
                content.style.display = "none";
            }
        });
    }


    //display count
    document.getElementById("newCountDisplay").innerText = @Model.NewCount;
    document.getElementById("pendingCountDisplay").innerText = @Model.PendingCount;
    document.getElementById("ActiveCount").innerText = @Model.ActiveCount;
    document.getElementById("ConcludeCount").innerText = @Model.ConcludeCount;
    document.getElementById("ToCloseCount").innerText = @Model.ToCloseCount;
    document.getElementById("UnpaidCount").innerText = @Model.UnpaidCount;

    function ExportAll() {
        $.ajax({
            url: '/Admin/ExportAll',
            type: 'GET',
            data: {},
            success: function (data) {
                window.location.href = data;
            },
            error: function (xhr, status, error) {
                console.error("Error occurred: " + error);
            }
        });
    }
    function ExportDataWithFilter() {

        $.ajax({
            url: '/Admin/ExportFilterWise',
            type: 'POST',
            data: { state: state, PatientName: PatientName, ReqType: requestType, RegionId: regionId },
            success: function (data) {
                window.location.href = data;
            },
            error: function (xhr, status, error) {
                console.error("Error occurred: " + error);
            }
        });
    }
    function support() {
        $('#support').modal('show');
    }

    $('.sendLink').click(function () {
        
        $.ajax({
            type: "POST",
            dataType: "html",
          
            url: "@(Url.Action("sendLink", "Admin"))",
            success: function (data) {
               
                $("#sendLinkToPatient").find('.modal-content').html(data);
            }
        });
    });

    $('#supprtForm').on('submit', function (e) {

        var additionalNotes = $('#additionalNotes').val();
        if (additionalNotes == null || additionalNotes == "") {
            document.getElementsByClassName("validate")[0].innerText = "Please enter additional notes.";
            return;
        }
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        var data = form.serialize();

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function (data) {

                location.reload();
            }
        });
            
    });
</script>