@model HalloDoc.Entities.ViewModels.AdminDashboardViewModel


<main class="mainSectionMargin">
    <div class="container-fluid dashboardMain ">
        <div>
           
            <div class="row cardRow g-2 ">
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <button class="cards cardDesign1 " id="New" data-view-name="_NewPartialView">
                        <div class="row">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                                <strong class="cardContaint" >
                                    NEW
                                </strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint" id="newCountDisplay"></strong>

                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <button class="cards cardDesign2  " id="Pending" data-view-name="_PendingPartialView">
                        <div class="row ">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                                <strong class="cardContaint">PENDING</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint" id="pendingCountDisplay"></strong>

                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <button class="cards cardDesign3  " id="Active">
                        <div class="row ">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                                <strong class="cardContaint">ACTIVE</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint" id="ActiveCount"></strong>

                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <button class="cards cardDesign4  " id="Conclude">
                        <div class="row ">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                                <strong class="cardContaint">CONCLUDE</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint" id="ConcludeCount"></strong>

                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <button class="cards cardDesign5  " id="ToClose">
                        <div class="row ">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                                <strong class="cardContaint">TO CLOSE</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint" id="ToCloseCount"></strong>

                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cust-col">
                    <button class="cards cardDesign6  " id="Unpaid">
                        <div class="row ">
                            <div class="col-12">
                                <i class="bi bi-plus-circle i"></i>
                                <strong class="cardContaint">UNPAID</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <strong class="cardContaint" id="UnpaidCount"></strong>

                            </div>
                        </div>
                    </button>
                </div>

            </div>
            @* table *@
            <div id="admindata"></div>
        </div>
    </div>
</main>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "none") {
                content.style.display = "block";
            } else {
                content.style.display = "none";
            }
        });
    }
 
        $(document).ready(function () {
            load();
            $('#New').click(function () {
                $.ajax({
                    url: "/Admin/New",
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        $("#admindata").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#admindata").html('An error has occurred');
                    }
                });
            });

        $('#Pending').click(function () {
                $.ajax({
                    url: "/Admin/Pending",
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        $("#admindata").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#admindata").html('An error has occurred');
                    }
                });
            });

            $('#Active').click(function () {
                $.ajax({
                    url: "/Admin/Active",
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        $("#admindata").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#admindata").html('An error has occurred');
                    }
                });
            });

            $('#Conclude').click(function () {
                $.ajax({
                    url: "/Admin/Conclude",
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        $("#admindata").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#admindata").html('An error has occurred');
                    }
                });
            });


            $('#ToClose').click(function () {
                $.ajax({
                    url: "/Admin/ToClose",
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        $("#admindata").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#admindata").html('An error has occurred');
                    }
                });
            });

            $('#Unpaid').click(function () {
                $.ajax({
                    url: "/Admin/Unpaid",
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        $("#admindata").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#admindata").html('An error has occurred');
                    }
                });
            });
        });

    function load() {
        $.ajax({
            url: "/Admin/New",
            type: "POST",
            dataType: "html",
            success: function (data) {
                $("#admindata").html(data);
            },
            error: function () {
                alert("No Projects Found");
                $("#admindata").html('An error has occurred');
            }
        });
      
    }
    document.getElementById("newCountDisplay").innerText = @Model.NewCount;
    document.getElementById("pendingCountDisplay").innerText = @Model.PendingCount;
    document.getElementById("ActiveCount").innerText = @Model.ActiveCount;
    document.getElementById("ConcludeCount").innerText = @Model.ConcludeCount;
    document.getElementById("ToCloseCount").innerText = @Model.ToCloseCount;
    document.getElementById("UnpaidCount").innerText = @Model.UnpaidCount;


</script>