@model HalloDoc.Entities.ViewModels.ViewNotesViewModel
@{
    ViewBag.adminDash = "active";
    ViewData["Title"] = "View Notes";

}


<div class="mainContent2 w-100 ">
    <div class="d-flex flex-column align-items-center justify-content-center ">
        <div class="PatientInfo d-flex justify-content-between align-items-center mb-2">
            <h3>Notes</h3>
            <a href="##" onClick="history.go(-1); return false;" style=" right: 0px; text-decoration: none; ">
                <button class="back">
                    <i class="bi bi-chevron-left"></i>
                    back
                </button>
            </a>

        </div>

        <div class="p-4 bg-transparent mb-3  h-100 PatientInfo">
            <form asp-action="ViewNotes" asp-controller="Admin" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row justify-content-between">
                    <div class="col-lg-5 col-md-5 col-sm-12 bg-white mx-1  p-4 shadow-lg d-flex flex-column">
                        <strong> Transfer Notes</strong>
                        @if (Model.TransferNotes != null)
                        {
                            <hr />
                            @foreach (var z in Model.TransferNotes)
                            {

                                <small>
                                    <b>Admin</b>Transferd @if (z.PhysicianName != null)
                                    {
                                        <span>
                                             to Dr.
                                            <b>@z.PhysicianName</b>
                                        </span>
                                    } on @z.CreatedDate : 
                                    @if(z.Note!=null)
                                    {
                                        @z.Note
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </small>
                                <hr />
                            }
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12  mx-1  p-4 shadow-lg d-flex flex-column">
                        <strong>Physician Notes</strong>
                        <small>
                            <div id="adminNotes">
                                @if (@Model.PhysicianNotes != null)
                                {
                                    @Model.PhysicianNotes
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </div>
                        </small>

                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 bg-white mx-1   p-4 shadow-lg d-flex  flex-column">
                        <strong> Admin Notes</strong>
                        <small>
                            <div id="adminNotes">
                                @if (@Model.AdminNotes != null)
                                {
                                    @Model.AdminNotes
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </div>
                        </small>

                    </div>
                    @if (Model.CancelationNotes.Count > 0)
                    {
                        <div class="col-lg-5 col-md-5 col-sm-12 bg-white mx-1  p-4 shadow-lg d-flex flex-column">
                            <strong> Cancelation Notes</strong>
                            <hr />
                            @foreach (var z in Model.CancelationNotes)
                            {

                                <small> @z.Note </small>
                                <hr />
                            }

                        </div>
                    }
                </div>

                <div class="bg-white p-3 shadow-lg  rounded-2">
                    <div class="form-floating form-group  rounded-3">
                        <textarea asp-for="AdditionalNotes" class="form-control" id="additionalNotes" style="height: 120px;" rows="8" placeholder=" "></textarea>
                        <label class="form-label" for="textAreaExample2">
                            Additional Notes
                        </label>
                        <span asp-validation-for="AdditionalNotes" class="text-danger w-100 validate"></span>
                    </div>
                    <div class="row ">

                        <div class="col-12 d-flex " style="justify-content:end;align-items:center">
                            <a type="button" class="btn btn-info p-2 saveChangesButton " style=" color: white;width: 120px; " id="@Model.requestID" value="Save Changes">Save changes</a>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>

</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>

    $('.saveChangesButton').click(function () {

        var additionalNotes = $('#additionalNotes').val();
        if (additionalNotes == null || additionalNotes == "") {
            document.getElementsByClassName("validate")[0].innerText = "Please enter additional notes.";
            return;
        }
        var adminNotes = $('#adminNotes').text();
        var id = this.id;

        $.ajax({
            type: "POST",
            dataType: "html",
            data: { additionalNotes: additionalNotes, adminNotes: adminNotes, id: id },
            url: "@(Url.Action("ViewNotes", "Admin"))",
            success: function (data) {

                location.reload();
            },
            error: function () {
                console.log("error");
            }
        });
    });

    if (localStorage.getItem("Mytheme")) {
        body.classList.toggle(localStorage.getItem("Mytheme"));
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("additionalNotes").value = "";
    });


</script>