@model HalloDoc.Entities.ViewModels.BlockHistoryViewModel
<div class="table-responsive">
    <table class="table ">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Patient Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
                <th scope="col">Created Date </th>
                <th scope="col">Notes</th>
                <th scope="col">Is Active</th>

                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody class="table-group-divider">

            @foreach (var data in Model.pagingData)
            {
                <tr>
                    <input type="hidden" asp-for="@data.BlockId">
                    <td>

                        @data.PatientName
                    </td>
                    <td>
                        @data.PhoneNumber
                    </td>
                    <td>
                        @data.Email
                    </td>
                    <td>@data.CreatedDate</td>
                    <td>
                        @data.Note
                    </td>
                    <td>
                        <input type="checkbox" value="" class="checkboxForAll notification" name="selectedFiles" disabled
                        @if (data.IsActive == "Yes")
                        {
                            <text>checked</text>
                        }
                        >
                    </td>
                    <td>
                        <a class="btn btn-sm btn-outline-info" asp-action="UnblockRequest" asp-controller="Admin" asp-route-id="@data.BlockId"> Unblock</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
    <partial name="_Paging.cshtml" />

</div>

@* mobile view *@
<div class="adminDashMobile viewMobile mb-5">
    @foreach (var u in Model.pagingData)
    {
        <input type="hidden" asp-for="@u.BlockId">


        <div class="mobileviewdashboard my-1  p-2 ">
            <button type="button" class="table-btn collapsible w-100 bg-transparent  d-flex justify-content-between">
                <div class="d-block align-items-center">

                    <div>

                        @u.PatientName
                    </div>
                </div>

            </button>

            <div class="content" style="display:none">
                <hr />
                <div class="d-flex mb-2">
                    <div class="">
                        <i class="bi bi-envelope mx-1" style="padding:3px; border:1px solid #00BCE7;border-radius:50%"></i>
                        Email:
                    </div>
                    <div style="margin-left:8px;font-weight:500">  @u.Email</div>
                </div>
                <div class="d-flex mb-2">
                    <div class="">
                        <i class="bi bi-envelope mx-1" style="padding:3px; border:1px solid #00BCE7;border-radius:50%"></i>
                        Phone Number:
                    </div>
                    <div style="margin-left:8px;font-weight:500">  @u.PhoneNumber</div>
                </div>
                <div class="d-flex mb-2">
                    <div class="">
                        <i class="bi bi-envelope mx-1" style="padding:3px; border:1px solid #00BCE7;border-radius:50%"></i>
                        Phone Number:
                    </div>
                    <div style="margin-left:8px;font-weight:500">  @u.PhoneNumber</div>
                </div>
                <div class="d-flex mb-2">
                    <div class="">
                        <i class="bi bi-envelope mx-1" style="padding:3px; border:1px solid #00BCE7;border-radius:50%"></i>
                        Created date:
                    </div>
                    <div style="margin-left:8px;font-weight:500">  @u.CreatedDate</div>
                </div>
                <div class="d-flex justify-content-end align-items-center mt-2">
                    <a class="btn btn-sm btn-outline-info" asp-action="UnblockRequest" asp-controller="Admin" asp-route-id="@u.BlockId"> Unblock</a>
                </div>
            </div>
        </div>
    }
    <partial name="_Paging.cshtml" />

</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var maintb = document.getElementsByClassName("mobileviewdashboard");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content && content.tagName.toLowerCase() === "div") {
                if (content.style.display === "none") {
                    content.style.display = "block";
                } else {
                    content.style.display = "none";
                }
            }
        });
        maintb[i].addEventListener("click", function () {
            this.classList.toggle("active");

        });
    }
</script>

