@model HalloDoc.Entities.ViewModels.CancelCaseViewModel

<div class="modal-header">
    <h5 class="modal-title">Confirm Cancellation</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="blockCaseForm" asp-controller="Admin" asp-action="BlockCaseRequest" asp-route-id="@Model.RequestClientID" data-val="false">
    <div class="modal-body">

        <p>
            Patient Name: @Model.PatientName
        </p>
        <div class=" d-flex justify-content-center flex-column  ">
           
            <div class="form-floating form-group  rounded-3">
                <textarea asp-for="AdditionalNotes" class="form-control note" id="additionalNotes" style="height: 120px;" rows="8" placeholder=" "></textarea>
                <label class="form-label" for="textAreaExample2">
                   Reason for block request
                </label>
                <span  class="text-danger validate"></span>
            </div>


        </div>
    </div>
    <div class="modal-footer d-flex justify-content-end">
        @*  <a class="createNewReqBtn submitBtn" href="@Url.Action("ConfirmCancelCase", "Admin", new { id = Model.RequestClientID })">
        Confirm
        </a> *@
        <button class="createNewReqBtn submitBtn" type="submit">
            Confirm
        </button>

        <button type="button" class="createNewReqBtn" data-bs-dismiss="modal">
            Cancle
        </button>


    </div>
</form>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
     
    $('#blockCaseForm').on('submit', function (e) {
        
        e.preventDefault();
        var additionalNotes = $('#additionalNotes').val();
        if (additionalNotes == null || additionalNotes == "") {
            document.getElementsByClassName("validate")[0].innerText = "Please enter additional notes.";
            return;
        }
        var form = $(this);
        var url = form.attr('action');
        var data = form.serialize();
       
        $.ajax({
            type: "POST",
            url: url,
            data: data
        })
            .done(function (response) {
                if (response.success) { 
                let timerInterval;
                Swal.fire({
                    title: "Successfull",
                    text: "Blocked Request of @Model.PatientName!",
                    icon: "success",
                    timer: 2000,
                    allowOutsideClick: false,
                    showConfirmButton: false,
                }).then(function () {
                    window.location.href = '@Url.Action("Dashboard", "Admin")';
                });
            }})
           
    });

</script>