@model HalloDoc.Entities.ViewModels.CancelCaseViewModel

<div class="modal-header">
    <h5 class="modal-title">Confirm Cancellation</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="cancelcase" asp-controller="Admin" asp-action="ConfirmCancelCase" asp-route-id="@Model.RequestClientID">
    <div class="modal-body">

        <p>
            Patient Name: @Model.PatientName
        </p>
        <div class=" d-flex justify-content-center flex-column  ">
            <select class="form-select mb-3" aria-label="Default select example" name="CaseTagID" asp-for="CaseTagID">
                <option value=""> Reasons For Cancellation</option>
                @foreach (var cases in @Model.Case)
                {
                    <option value="@cases.CaseTagId">
                        @cases.Name
                    </option>
                }
            </select>
            <span asp-validation-for="CaseTagID" class="text-danger"></span>
           
            <div class="form-floating form-group  rounded-3">
                <textarea asp-for="AdditionalNotes" class="form-control" id="textAreaExample2" style="height: 120px;" rows="8" placeholder=" "></textarea>
                <label class="form-label" for="textAreaExample2">
                    Additional Notes
                </label>
                @* <span asp-validation-for="AdditionalNotes" class="text-danger"></span> *@

            </div>


        </div>
    </div>
    <div class="modal-footer d-flex justify-content-end">
        
        <button class="createNewReqBtn submitBtn" type="submit">
            Confirm
        </button>

        <button type="button" class="createNewReqBtn" data-bs-dismiss="modal">
            Cancle
        </button>


    </div>
</form>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $('#cancelcase').on('submit', function (e) {
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        var data = form.serialize();

        $.ajax({
            type: "POST",
            url: url,
            data: data
        })
            .done(function (response) {
                let timerInterval;
                Swal.fire({
                    title: "Done",
                    text: "Request Canceled Successfully of Patient @Model.PatientName",
                    icon: "success",
                    timer: 2000,
                    allowOutsideClick: false,
                    showConfirmButton: false,
                }).then(function () {
                    window.location.href = '@Url.Action("Dashboard", "Admin")';
                });
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                Swal.fire({
                    title: "Error",
                    text: "Error cancelling case: " + textStatus + ": " + errorThrown,
                    icon: "error",
                    confirmButtonText: "OK"
                });
            });
    });

</script>
