@model HalloDoc.Entities.ViewModels.LogsViewModel
<div class="table-responsive">
    <table class="table ">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Recipient</th>
                <th scope="col">Action </th>
                <th scope="col">Role Name</th>
                @if (Model.type == 1)
                {
                    <th scope="col">Email ID</th>
                }
                else
                {
                    <th scope="col">Mobile No.</th>
                }
                <th scope="col">Created Date</th>
                <th scope="col">Sent Date</th>
                <th scope="col">Sent </th>
                <th scope="col">Sent Tries</th>
                <th scope="col">Confirmation Number</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @if (Model.type == 1)
            {
                @foreach (var data in Model.paging)

                {

                    <tr>
                        <input type="hidden" asp-for="@data.EmailLogId">
                        <td>
                            <p>
                                @if (@data.reciverName != null && @data.reciverName != " " && @data.reciverName!="")
                                {
                                    @data.reciverName
                                }
                                else
                                {
                                    <p>user</p>
                                }
                            </p>
                        </td>
                        <td>
                            @data.action
                        </td>
                        <td>
                            @if (@data.roleName != null && @data.roleName != " " && @data.roleName != "")
                            {
                                @data.roleName
                            }
                            else
                            {
                                <p>Patient</p>
                            }
                           
                        </td>
                        <td>
                            @data.email
                        </td>
                        <td>
                            @data.CreatedDate
                        </td>
                        <td>
                            @data.SentDate
                        </td>
                        <td>
                            @if(@data.sent!=null)
                            {
                                <span>Yes</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </td>
                        <td>
                            @data.sentTries
                        </td>
                        <td>-</td>
                    </tr>
                }
            }
            else
            {
                @foreach (var data in Model.paging)

                {

                    <tr>
                        <input type="hidden" asp-for="@data.SMSLogId">
                        <td>
                            <p>@data.reciverName </p>
                        </td>
                        <td>
                           -
                        </td>
                        <td>
                            @data.roleName
                        </td>
                        <td>
                            @data.PhoneNumber
                        </td>
                        <td>
                            @data.CreatedDate
                        </td>
                        <td>
                            @data.SentDate
                        </td>
                        <td>
                            @if (@data.sent != null)
                            {
                                <span>Yes</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </td>
                        <td>
                            @data.sentTries
                        </td>
                        <td>-</td>
                        
                    </tr>
                }
            }



        </tbody>
    </table>
    <partial name="_Paging.cshtml" />

</div>


