@model HalloDoc.Entities.ViewModels.PatientHistoryViewModel
<div class="table-responsive desktopviewTable">
    <table class="table ">
        <thead class="table-secondary">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name </th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Address</th>
                <th scope="col">Actions </th>

            </tr>
        </thead>
        <tbody class="table-group-divider">

            @foreach (var data in Model.PagingData)
            {
                <tr>
                    <input type="hidden" asp-for="@data.userID">
                    <td>

                        @data.FirstName
                    </td>
                    <td>
                        @data.LastName
                    </td>
                    <td>
                        @data.email
                    </td>
                    <td>@data.phone</td>
                    <td>
                        @data.Address
                    </td>
                    <td>
                        <a class="btn btn-outline-info" asp-action="PatientRecord" asp-controller="Admin" asp-route-id="@data.userID"> Explore </a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
    <partial name="_Paging.cshtml" />

</div>


@* mobile view *@
<div class="adminDashMobile viewMobile mb-5">
    @foreach (var u in Model.PagingData)
    {
        <input type="hidden" asp-for="@u.userID">
        <div class="mobileviewdashboard my-1  p-2 ">
            <button type="button" class="table-btn collapsible w-100 bg-transparent  d-flex justify-content-between">
                <div class="d-block align-items-center">

                    <div>
                        @u.FirstName @u.LastName
                    </div>
                </div>

            </button>

            <div class="content" style="display:none">
                <hr />
               
                <div class="d-flex mb-2">
                    <div class="">
                        <i class="bi bi-envelope mx-1" style="padding:3px; border:1px solid #00BCE7;border-radius:50%"></i>
                        email:
                    </div>
                    <div style="margin-left:8px;font-weight:500">  @u.email</div>
                </div>
                <div class="d-flex mb-2">
                    <div class="">
                        <i class="bi bi-envelope mx-1" style="padding:3px; border:1px solid #00BCE7;border-radius:50%"></i>
                        Phone Number:
                    </div>
                    <div style="margin-left:8px;font-weight:500">  @u.phone</div>
                </div>
                <div class="d-flex mb-2">
                    <div class="">
                        <i class="bi bi-envelope mx-1" style="padding:3px; border:1px solid #00BCE7;border-radius:50%"></i>
                        Address:
                    </div>
                    <div style="margin-left:8px;font-weight:500">  @u.Address</div>
                </div>

                <div class="d-flex justify-content-end align-items-center mt-2">

                    <a class="btn btn-outline-info" asp-action="PatientRecord" asp-controller="Admin" asp-route-id="@u.userID"> Explore </a>

                </div>
            </div>
        </div>
    }
    <partial name="_Paging.cshtml" />

</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var maintb = document.getElementsByClassName("mobileviewdashboard");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content && content.tagName.toLowerCase() === "div") {
                if (content.style.display === "none") {
                    content.style.display = "block";
                } else {
                    content.style.display = "none";
                }
            }
        });
        maintb[i].addEventListener("click", function () {
            this.classList.toggle("active");

        });
    }
</script>
