@model HalloDoc.Entities.ViewModels.PatientHistoryViewModel
<div class="table-responsive">
    <table class="table ">
        <thead class="table-secondary">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name </th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Address</th>
                <th scope="col">Actions </th>

            </tr>
        </thead>
        <tbody class="table-group-divider">

            @foreach (var data in Model.PagingData)
            {
                <tr>
                    <input type="hidden" asp-for="@data.userID">
                    <td>

                        @data.FirstName
                    </td>
                    <td>
                        @data.LastName
                    </td>
                    <td>
                        @data.email
                    </td>
                    <td>@data.phone</td>
                    <td>
                        @data.Address
                    </td>
                    <td>
                        <a class="btn btn-outline-info" asp-action="PatientRecord" asp-controller="Admin" asp-route-id="@data.userID"> Explore </a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
    <partial name="_Paging.cshtml" />

</div>
