@model HalloDoc.Entities.ViewModels.ProviderInfoViewModel
<div class="table-responsive">
    <table class="table ">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Stop Notification</th>
                <th scope="col">Provider Name</th>
                <th scope="col">Role</th>
                <th scope="col">On call status</th>
                <th scope="col">status</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody class="table-group-divider">


            @foreach (var u in Model.physicians)
            {
                <tr>
                    <input type="hidden" asp-for="@u.PhysicianId">
                    <td>
                        <input type="checkbox" value="" class="checkboxForAll notification" name="selectedFiles" onclick="selectCheck()"
                            @foreach (var notification in Model.PhysicianNotifications)
                        {
                            if (notification.PhysicianId == u.PhysicianId)
                            {
                                <text>checked</text>
                            }
                        }>
                    </td>
                    <td>@u.FirstName  @u.LastName</td>
                    <td>
                        @foreach(var role in Model.Role)
                        {
                            @if(role.RoleId == u.RoleId)
                            {
                                @role.Name
                            }
                        }
                    </td>
                    <td>Un Available</td>
                    <td>
                        @foreach (var status in Model.status)
                        {
                            @if (status.Statusid == u.Status)
                            {
                                @status.Statusname
                            }
                        }
                    </td>
                    <td>
                        <div class="d-flex">
                            <button class="btn btn-outline-info mx-1 contactProviderc" data-bs-toggle="modal" data-bs-target="#contactProviderMODEL" id="@u.PhysicianId">Contact</button>
                            <a class="btn btn-outline-info mx-1" asp-action="EditProvider" asp-controller="Admin" asp-route-id="@u.PhysicianId">Edit</a>

                        </div>
                    </td>

                </tr>
            }

        </tbody>
    </table>
   <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary " id="savebtn" style="display:none">Save Changes</button>
        <button type="reset" class="btn btn-outline-danger " id="cancelbtn" onclick="cancelCheck()" style="display:none">Cancel</button>

   </div>
</div>
@* model *@

<script>

    function selectCheck() {
        var saveButton = document.getElementById("savebtn");
        saveButton.style.display = "block";

        // Hide the cancel button
        var cancelButton = document.getElementById("cancelbtn");
        cancelButton.style.display = "block";
    }

    function cancelCheck() {
        var saveButton = document.getElementById("savebtn");
        saveButton.style.display = "none";

        var cancelButton = document.getElementById("cancelbtn");
        cancelButton.style.display = "none";

        // Reload the page
        location.reload();
    }
    
    $('#savebtn').click(function () {
        var ids = [];
        $('.notification:checked').each(function () {
            var id = $(this).closest('tr').find('input[type="hidden"]').val();
            ids.push(id);
        });

        $.ajax({
            type: "POST",
            dataType: "html",
            data: { ids: ids },
            url: "@(Url.Action("StopNotificationPhysician", "Admin"))",
            success: function (response) {
                if (response == "success") {

                }
                else {
                    location.reload();
                }
            },
            error: function () {
                console.log("error");
            }
        });
    });
    $('.contactProviderc').click(function () {
        var id = this.id;
     
        $.ajax({
            type: "POST",
            dataType: "html",
            data: { id: id },
            url: "@(Url.Action("ContactProvider", "Admin"))", 
            success: function (data) {
               
                $("#contactProviderMODEL").find('.modal-content').html(data);
            },
            error: function () {
                console.log("error");
            }
        });
    });
</script>
