@model HalloDoc.Entities.ViewModels.ProviderInfoViewModel

<div class="table-responsive desktopviewTable">
    <table class="table ">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Stop Notification</th>
                <th scope="col">Provider Name</th>
                <th scope="col">Role</th>
                <th scope="col">On call status</th>
                <th scope="col">status</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody class="table-group-divider">


            @foreach (var u in Model.PagingData)
            {
                <tr>
                    <input type="hidden" asp-for="@u.PhysicianID">
                    <td>
                        <input type="checkbox" value="" class="checkboxForAll notification" name="selectedFiles" onclick="selectCheck()"
                            
                            @if (u.stopNotification == "1")
                            {
                                <text>checked</text>
                            }
                        >
                    </td>
                    <td>@u.ProviderName</td>
                    <td>
                       @u.roleName
                    </td>
                    <td>@u.onCallStatus</td>
                    <td>
                       @u.status
                    </td>
                    <td>
                        <div class="d-flex">
                            <button class="btn btn-outline-info mx-1 contactProviderc" data-bs-toggle="modal" data-bs-target="#contactProviderMODEL" id="@u.PhysicianID">Contact</button>
                            <a class="btn btn-outline-info mx-1" asp-action="EditProvider" asp-controller="Admin" asp-route-id="@u.PhysicianID">Edit</a>

                        </div>
                    </td>

                </tr>
            }

        </tbody>
    </table>
   <div class="d-flex justify-content-end mb-5">
        <button type="button" class="btn  btn-info mx-2" id="savebtn" style="display:none">Save Changes</button>
        <button type="reset" class="btn btn-outline-danger " id="cancelbtn" onclick="cancelCheck()" style="display:none">Cancel</button>

   </div>
    <partial name="_Paging.cshtml" />

</div>

<div class="adminDashMobile viewMobile mb-5">
    @foreach (var u in Model.PagingData)
    {
        <input type="hidden" asp-for="@u.PhysicianID">

     
        <div class="mobileviewdashboard my-1  p-2 ">
            <button type="button" class="table-btn collapsible w-100 bg-transparent  d-flex justify-content-between">
                <div class="d-block align-items-center">
                    <div class="d-flex mx-1 align-items-center">
                        <input type="checkbox" value="" class="checkboxForAll notification" name="selectedFiles" onclick="selectCheck()"
                        @if (u.stopNotification == "1")
                        {
                            <text>checked</text>
                        }
                        >
                        @u.ProviderName
                    </div>
                    <div>

                  On Call Status:  @u.onCallStatus
                    </div>
                </div>
                
            </button>

            <div class="content" style="display:none">
                <hr />
               
                

                <div class="d-flex mb-2">
                    <div class="">
                        <i class="bi bi-envelope mx-1" style="padding:3px; border:1px solid #00BCE7;border-radius:50%"></i>
                        Role: 
                    </div>
                    <div style="margin-left:8px;font-weight:500">  @u.roleName</div>
                </div>
                <div class="d-flex mb-2">
                    <div class="">
                        <i class="bi bi-envelope mx-1" style="padding:3px; border:1px solid #00BCE7;border-radius:50%"></i>
                        Status:
                    </div>
                    <div style="margin-left:8px;font-weight:500">  @u.status</div>
                </div>
             
                
                <div class="d-flex justify-content-end align-items-center mt-2">

                    <button class="btn btn-outline-info mx-1 contactProviderc" data-bs-toggle="modal" data-bs-target="#contactProviderMODEL" id="@u.PhysicianID">Contact</button>
                    <a class="btn btn-outline-info mx-1" asp-action="EditProvider" asp-controller="Admin" asp-route-id="@u.PhysicianID">Edit</a>

                </div>
            </div>
        </div>
    }
    <partial name="_Paging.cshtml" />

</div>




<script>
    var coll = document.getElementsByClassName("collapsible");
    var maintb = document.getElementsByClassName("mobileviewdashboard");

    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content && content.tagName.toLowerCase() === "div") {
                if (content.style.display === "none") {
                    content.style.display = "block";
                } else {
                    content.style.display = "none";
                }
            }
        });
        maintb[i].addEventListener("click", function () {
            this.classList.toggle("active");

        });
    }
    function selectCheck() {
        var saveButton = document.getElementById("savebtn");
        saveButton.style.display = "block";

        // Hide the cancel button
        var cancelButton = document.getElementById("cancelbtn");
        cancelButton.style.display = "block";
    }

    function cancelCheck() {
        var saveButton = document.getElementById("savebtn");
        saveButton.style.display = "none";

        var cancelButton = document.getElementById("cancelbtn");
        cancelButton.style.display = "none";

        // Reload the page
        location.reload();
    }
    
    $('#savebtn').click(function () {
        var ids = [];
        $('.notification:checked').each(function () {
            var id = $(this).closest('tr').find('input[type="hidden"]').val();
            ids.push(id);
        });

        $.ajax({
            type: "POST",
            dataType: "html",
            data: { ids: ids },
            url: "@(Url.Action("StopNotificationPhysician", "Admin"))",
            success: function (response) {
                
                    toastr.success("Notification Updated.");
                var saveButton = document.getElementById("savebtn");
                saveButton.style.display = "none";

                var cancelButton = document.getElementById("cancelbtn");
                cancelButton.style.display = "none";
               
            },
        });
    });
    $('.contactProviderc').click(function () {
        var id = this.id;
     
        $.ajax({
            type: "POST",
            dataType: "html",
            data: { id: id },
            url: "@(Url.Action("ContactProvider", "Admin"))", 
            success: function (data) {
               
                $("#contactProviderMODEL").find('.modal-content').html(data);
            },
            error: function () {
                console.log("error");
            }
        });
    });
</script>
