@model ProviderDashboardViewModel;


@* admin dashboard Desktop *@
<div class=" table-responsive mt-3  adminDashTable">
    <table class="table" id="patientTable">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                @if (Model.stateTab == "Active")
                {
                    <th scope="col">Status</th>

                }
                <th scope="col">Actions</th>
            </tr>
        </thead>


        @foreach (var request in Model.PagingData)
        {

            var bgColor = "";

            switch (request.RequestTypeID)
            {
                case 1:
                    bgColor = "green";
                    break;
                case 2:
                    bgColor = "orange"; //rgb(75, 223, 75)
                    break;
                case 3:
                    bgColor = "blue";
                    break;
                case 4:
                    bgColor = "pink";
                    break;
                default:
                    bgColor = " ";
                    break;
            }

            <tbody>

                <tr class="@bgColor" style="color:white;">
                    <td id="PatientName">@request.PatientName</td>

                    <td>
                        @{
                            var requestor = "";
                            var display = "block";
                            if (request.RequestTypeID == 2)
                            {
                                requestor = "Family/Friend";


                            }
                            else if (request.RequestTypeID == 3)
                            {
                                requestor = "Concierge";

                            }
                            else if (request.RequestTypeID == 1)
                            {
                                requestor = "";
                                display = "none";

                            }
                            else
                            {
                                requestor = "Business";

                            }
                            if (request.RequestorPhone == null)
                            {
                                display = "none";
                            }
                        }
                        <button class="btn btn-light bg-transparent text-white d-flex" style="">
                            <i class="bi bi-telephone-fill mx-2"></i>
                            @request.PatientPhone
                        </button>
                        (Patient)

                        <div style="display:@display">


                            <button class="btn btn-light bg-transparent text-white d-flex">
                                <i class="bi bi-telephone-fill mx-2"></i>
                                @request.RequestorPhone
                            </button>
                            (@requestor)
                        </div>
                    </td>
                    <td>@request.Address</td>
                    @if (Model.stateTab == "Active")
                    {
                        <td>
                            @if (request.callType == 1)
                            {

                                <a class=" btn p-2 btn-info d-flex align-items-center housecallBtn justify-content-center mb-1 " id="@request.requestID"
                                   aria-expanded="false" style="width:90px;border-radius: 4px;">
                                    HouseCall
                                </a>
                            }
                            else
                            {

                                <p>-</p>
                            }

                        </td>
                    }

                    <td>
                        <div class="btn-group dropstart ">
                            <button type="button" class="btn btn-light btn-sm text-white bg-transparent rounded" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu ">
                                <span class="d-flex flex-column  align-items-center menuDashboard">
                                    @if (Model.stateTab == "New")
                                    {
                                    <li>
                                        <a onclick="acceptCase(@request.RequstClientId)" style="text-decoration:none;color:black;">
                                            <i class="bi bi-card-checklist mx-2"></i>
                                            Accept
                                        </a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("ViewCase", "Provider", new { Id = @request.RequstClientId })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-card-text mx-2"></i>
                                            View Case
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewNotes", "Provider", new { Id = @request.RequstClientId })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-journal-text mx-2"></i>
                                            View Notes
                                        </a>
                                    </li>

                                    }
                                    @if (Model.stateTab == "Pending")
                                    {
                                    <li>
                                        <a class="SendAgreement" data-bs-toggle="modal" type="button" data-bs-target="#SendAgreement" id=@request.RequstClientId style="text-decoration:none;color:black;">
                                            <i class="bi bi-journal-arrow-up mx-2"></i>
                                            Send Agreement
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewCase", "Provider", new { Id = @request.RequstClientId,status= @request.stateTab })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-card-text mx-2"></i>

                                            View Case
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewUploads", "Provider", new { Id = @request.requestID })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-file-arrow-up mx-2"></i>
                                            View Uploads
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewNotes", "Provider", new { Id = @request.RequstClientId })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-journal-text mx-2"></i>
                                            View Notes
                                        </a>
                                    </li>
                                    <li>
                                        <a class="Transfer" data-bs-toggle="modal" type="button" data-bs-target="#transferCase" id=@request.RequstClientId style="text-decoration:none;color:black;">
                                            <i class="bi bi-folder-symlink mx-2"></i>
                                            Transfer
                                        </a>
                                    </li>



                                    }
                                    @if (Model.stateTab == "Active")
                                    {
                                    <li>
                                        <a href="@Url.Action("ViewCase", "Provider", new { Id = @request.RequstClientId ,status= @request.stateTab})" style="text-decoration:none;color:black;">
                                            <i class="bi bi-card-text mx-2"></i>
                                            View Case
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewUploads", "Provider", new { Id = @request.requestID })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-file-arrow-up mx-2"></i>
                                            View Uploads
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewNotes", "Provider", new { Id = @request.RequstClientId })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-journal-text mx-2"></i>
                                            View Notes
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("SendOrder", "Provider", new { Id = @request.requestID })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-bag-plus mx-2"></i>
                                            Orders
                                        </a>
                                    </li>
                                    <li>
                                        <a class="activeEncounter" data-bs-toggle="modal" type="button" data-bs-target="#encounterActive" id="@request.requestID" style="text-decoration:none;color:black;">
                                            <i class="bi bi-journals mx-2"></i>
                                            Encounter
                                        </a>
                                    </li>
                                    }
                                    @if (Model.stateTab == "Conclude")
                                    {
                                    <li>
                                        @if(request.isfinalize)
                                            {
                                            <a href="@Url.Action("ConcludeCare", "Provider", new { Id = @request.requestID })" style="text-decoration:none;color:black;">
                                                <i class="bi bi-bag-plus mx-2"></i>
                                                Conclude Care
                                                </a>
                                            }
                                            else
                                            {
                                            <a href="#" style="text-decoration:none;color:black;" class="btn disabled border-0">
                                                <i class="bi bi-bag-plus mx-2"></i>
                                                Conclude Care
                                            </a>
                                            }

                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewCase", "Provider", new { Id = @request.RequstClientId,status= @request.stateTab })" class="btn border-0" style="text-decoration:none;color:black;">
                                            <i class="bi bi-card-text mx-2"></i>
                                            View Case
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewUploads", "Provider", new { Id = @request.requestID })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-file-arrow-up mx-2"></i>
                                            View Uploads
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewNotes", "Provider", new { Id = @request.RequstClientId })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-journal-text mx-2"></i>
                                            View Notes
                                        </a>
                                    </li>



                                    <li>
                                            @if (request.isfinalize)
                                            {
                                            <a class="btn border-0 downloadEncounter" data-bs-toggle="modal" type="button" data-bs-target="#DownloadEncounterForm" id="@request.requestID" style="text-decoration:none;color:black;">
                                                <i class="bi bi-journal-text mx-2"></i>
                                               Encounter
                                            </a>
                                            }
                                            else
                                            {
                                            <a href="@Url.Action("EncounterForm","Provider",new{RequestId =@request.requestID })" style="text-decoration:none;color:black;">
                                                <i class="bi bi-journals mx-2"></i>
                                                Encounter
                                            </a>
                                            }

                                    </li>
                                    }

                                </span>
                            </ul>
                        </div>
                    </td>
                </tr>

            </tbody>
        }
    </table>
    <partial name="_Paging.cshtml" />
</div>
<div class="modal fade" id="encounterActive" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Type Of Care</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <div class=" d-flex justify-content-center ">
                    <button type="button" class="createNewReqBtn routeModal" onclick="selectOption('HouseCall')">
                        HouseCall
                    </button>
                    <button type="button" class="createNewReqBtn routeModal mx-3" onclick="selectOption('Consult')">
                        Consult
                    </button>


                </div>
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <a type="button" class="createNewReqBtn submitBtn" onclick="continueToPage()">
                    Save
                </a>

                <button type="button" class="createNewReqBtn" data-bs-dismiss="modal">
                    Cancle
                </button>


            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DownloadEncounterForm" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Encounter Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <small>Encounter form is finalized successfully!</small>

                <div class=" d-flex justify-content-center ">
                    <a type="button" class="createNewReqBtn dwnload btn btn-info mt-3" >
                      Download
                    </a>
                    


                </div>
            </div>
           
        </div>
    </div>
</div>

<script>
    var selectedOption = "";
    var requestIdofTypeOFCare = "";
    $(document).on('click', '.activeEncounter', function () {
        requestIdofTypeOFCare = this.id;

    });
    $(document).on('click', '.housecallBtn', function () {
        requestIdofTypeOFCare = this.id;
        continueToPage();

    });
    
    $(document).on('click', '.downloadEncounter', function () {
        requestIdofTypeOFCare = this.id;

    });
    $('.dwnload').click(function () {
        var id = requestIdofTypeOFCare;
        $.ajax({
            type: "POST",
            data: { id },
            url: "@(Url.Action("DownloadEncounterForm", "Provider"))",
            xhrFields: {
                responseType: 'blob' // Set the response type to blob
            },
            success: function (response, status, xhr) {
                var filename = ''; // Initialize filename
                var disposition = xhr.getResponseHeader('Content-Disposition');
                if (disposition && disposition.indexOf('attachment') !== -1) {
                    var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                    var matches = filenameRegex.exec(disposition);
                    if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                }
                var blob = new Blob([response], { type: 'application/pdf' });

                // Create a URL for the blob
                var url = window.URL.createObjectURL(blob);

                // Create a hidden anchor element
                var a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = filename || 'Encounter_Data.pdf'; // Set the filename for the downloaded file

                // Append the anchor element to the body
                document.body.appendChild(a);

                // Trigger a click event on the anchor element to initiate the download
                a.click();

                // Remove the anchor element from the body
                document.body.removeChild(a);

                // Revoke the URL to release the blob's resources
                window.URL.revokeObjectURL(url);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });

    //////////popup box

    //conclude -> Encounter


    //Active -> Encounter
    function selectOption(option) {
        selectedOption = option;
    }
    function continueToPage() {
        if (selectedOption == 'HouseCall') {
            //sessionStorage.setItem("currentId", "me");
            $.ajax({
                url: "/Provider/HouseCallOrCounsult",
                type: "POST",
                data: { id: 1, requestId: requestIdofTypeOFCare },
                dataType: "html",
                success: function (response) {
                    location.reload();

                },
                error: function () {
                    // $("#admindata").html('An error has occurred');
                    alert("No Projects Found");
                }
            });
        }
        else if (selectedOption == 'Consult') {
            $.ajax({
                url: "/Provider/HouseCallOrCounsult",
                type: "POST",
                data: { id: 2, requestId: requestIdofTypeOFCare },
                dataType: "html",
                success: function (response) {

                    toastr.success("Patient Consulted and the request is move to conclude state.");
                    location.reload();

                },
                error: function () {
                    // $("#admindata").html('An error has occurred');
                    alert("No Projects Found");
                }
            });

        }
        else {
            $.ajax({
                url: "/Provider/HouseCallOrCounsult",
                type: "POST",
                data: { id: 3, requestId: requestIdofTypeOFCare },
                dataType: "html",
                success: function (response) {
                    toastr.success("Patient Consulted and the request is move to conclude state.");

                    location.reload();

                },
                error: function () {
                    // $("#admindata").html('An error has occurred');
                    alert("No Projects Found");
                }
            });
        }

    }

    //Accept Case
    function acceptCase(id) {
        var providerId = '@Model.PhysicianId';
        var url = '@Url.Action("AcceptCase", "Provider")';

        $.ajax({
            type: "POST",
            url: url,
            data: { id: id, providerId: providerId },

        }).done(function (response) {
            let timerInterval;
            Swal.fire({
                title: "Request Accepted Successfully",
                icon: "success",
                timer: 1500,
                allowOutsideClick: false,
                showConfirmButton: false,
            }).then(function () {
                window.location.href = '@Url.Action("Dashboard", "Provider")';
            });
        });
    }

    //Transfer Case

    $('.Transfer').click(function () {
        var id = this.id;
        $.ajax({
            type: "POST",
            dataType: "html",
            data: { id },
            url: "@(Url.Action("TransferCase", "Provider"))",
            success: function (data) {

                $("#transferCase").find('.modal-content').html(data);
            }
        });
    });

    $('.SendAgreement').click(function () {
        var id = this.id;
        $.ajax({
            type: "POST",
            dataType: "html",
            data: { id },
            url: "@(Url.Action("SendAgreement", "Provider"))",
            success: function (data) {

                $("#SendAgreement").find('.modal-content').html(data);
            }
        });
    });




    //mobile view cards
    var coll = document.getElementsByClassName("collapsible");
    var maintb = document.getElementsByClassName("mobileviewdashboard");

    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content && content.tagName.toLowerCase() === "div") {
                if (content.style.display === "none") {
                    content.style.display = "block";
                } else {
                    content.style.display = "none";
                }
            }
        });
        maintb[i].addEventListener("click", function () {
            this.classList.toggle("active");

        });
    }

</script>