@model RequestedShiftViewModel

<div class="table-responsive">
    <table class="table ">
        <thead class="table-secondary">
            <tr>
                <th scope="col"> <input type="checkbox" id="selectAllFiles" onclick="toggle(this)"></th>
                <th scope="col">staff</th>
                <th scope="col">day</th>
                <th scope="col">time</th>
                <th scope="col">region</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">


            @foreach (var u in Model.PagingData)
            {
                <tr>
                    <input type="hidden" asp-for="@u.shiftdetailId">


                    <td><input type="checkbox" value="@u.shiftdetailId" class="checkboxForAll" name="selectedShift"></td>
                    <td>@u.staff</td>
                    <td>@u.day</td>
                    <td>@u.time</td>
                    <td>@u.region </td>


                </tr>
            }


        </tbody>
    </table>
    <partial name="_Paging.cshtml" />
</div>

<script>
    function toggle(source) {
        checkboxes = document.getElementsByClassName('checkboxForAll');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
   
</script>