@model AdminDashboardViewModel;

@* admin dashboard Mobile *@
<div class="adminDashMobile mb-5">
    @foreach (var request in Model.PagingData)
    {

        var added = "";
        var type = "";
        switch (request.RequestTypeID)
        {
            case 1:
                added = "dot1";
                type = "Patient";
                break;
            case 2:
                added = "dot2"; //rgb(75, 223, 75)
                type = "Family/Friend";

                break;
            case 3:
                added = "dot4";
                type = "Concierge";

                break;
            case 4:
                added = "dot3";
                type = "Business";

                break;
            default:
                added = " ";
                break;
        }
        <div class="mobileviewdashboard my-1  p-2 ">
            <button type="button" class="table-btn collapsible w-100 bg-transparent  d-flex justify-content-between">
                <div class="d-block ">
                    <div class="">
                        @request.PatientName
                    </div>
                    @request.Address
                </div>
                <div class="d-flex align-items-center justify-content-end  ">
                    <div> @type</div>
                    <div class="@added mx-1">
                    </div>
                </div>
            </button>

            <div class="content" style="display:none">
                <hr />
                <div class="d-flex justify-content-end">
                    <a href="@Url.Action("ViewCase", "Admin", new { Id = @request.RequstClientId })" class="viewCaseBtn">View Case</a>
                </div>
                @if (Model.stateTab  == "New" || Model.stateTab  == "Pending" || Model.stateTab  == "Active" || Model.stateTab  == "Conclude" || Model.stateTab  == "Toclose")
                {
                    <div class="d-flex mb-2">
                        <div class="">
                            <i class="bi bi-calendar mx-1" style="padding:3px; border:1px solid #00BCE7;border-radius:50%"></i>
                            Date Of Birth:
                        </div>
                        <div style="margin-left:8px;font-weight:500">@request.DateOfBirth</div>
                    </div>
                }

                <div class="d-flex mb-2">
                    <div class="">
                        <i class="bi bi-envelope mx-1" style="padding:3px; border:1px solid #00BCE7;border-radius:50%"></i>
                        Email:
                    </div>
                    <div style="margin-left:8px;font-weight:500">  @request.Email</div>
                </div>

                @if (Model.stateTab  == "New" || Model.stateTab  == "Pending" || Model.stateTab  == "Active" || Model.stateTab  == "Conclude" || Model.stateTab  == "Unpaid")
                {
                    <div class="d-flex mb-2">
                        <div class="">
                            <i class="bi bi-telephone mx-1" style="padding:3px; border:1px solid #00BCE7;border-radius:50%"></i>
                            Patient:
                        </div>
                        <div style="margin-left:8px;font-weight:500">  @request.PatientPhone</div>
                    </div>
                }
                @if (Model.stateTab  == "Pending" || Model.stateTab  == "Active" || Model.stateTab  == "Conclude" || Model.stateTab  == "Toclose" || Model.stateTab  == "Unpaid")
                {
                    <div class="d-flex mb-2">
                        <div class="">
                            <i class="bi bi-calendar mx-1" style="padding:3px; border:1px solid #00BCE7;border-radius:50%"></i>

                            Date Of Service:
                        </div>
                        <div style="margin-left:8px;font-weight:500">   @request.DateOfService</div>
                    </div>
                }
                @if (Model.stateTab  == "Pending" || Model.stateTab  == "Active" || Model.stateTab  == "Conclude" || Model.stateTab  == "Toclose" || Model.stateTab  == "Unpaid")
                {
                    <div class="d-flex mb-2">
                        <div class="">
                            <i class="bi bi-person mx-1" style="padding:3px; border:1px solid #00BCE7;border-radius:50%"></i>
                            Physician:
                        </div>
                        <div style="margin-left:8px;font-weight:500">  @request.PhysicianName</div>
                    </div>
                }
                @if (Model.stateTab  == "New" || Model.stateTab  == "Pending" || Model.stateTab  == "Active")
                {
                    <div class="d-flex mb-2">
                        <div class="">
                            <i class="bi bi-person mx-1" style="padding:3px; border:1px solid #00BCE7;border-radius:50%"></i>

                            Requestor :
                        </div>
                        <div style="margin-left:8px;font-weight:500">
                            @request.Requestor
                        </div>
                    </div>
                }
                @if (Model.stateTab  == "Pending" || Model.stateTab  == "Active" || Model.stateTab  == "Conclude")
                {
                    <div class="d-flex mb-2">
                        <div class="">
                            <i class="bi bi-calendar mx-1" style="padding:3px; border:1px solid #00BCE7;border-radius:50%"></i>
                            Transfer Note :
                        </div>
                        <div style="margin-left:8px;font-weight:500">@request.Notes</div>
                    </div>
                }
                @if (Model.stateTab  == "Toclose")
                {
                    <div class="d-flex mb-2">
                        <div class="">
                            <i class="bi bi-calendar mx-1" style="padding:3px; border:1px solid #00BCE7;border-radius:50%"></i>
                            Region :
                        </div>
                        <div style="margin-left:8px;font-weight:500">@request.RegionId</div>
                    </div>
                }
                <div class=" row  justify-content-between mx-auto  mt-3">
                    @if (Model.stateTab  == "New" || Model.stateTab  == "Pending" || Model.stateTab  == "Active" || Model.stateTab  == "Conclude" || Model.stateTab  == "Toclose" || Model.stateTab  == "Unpaid")
                    {
                        <a href="@Url.Action("ViewNotes", "Admin", new { Id = @request.RequstClientId })" class="col-5 mobileDashBtn adminDashBtn" style="text-align:center;text-decoration:none;">View Notes</a>
                    }

                    @if (Model.stateTab  == "Active" || Model.stateTab  == "Conclude" || Model.stateTab  == "Toclose")
                    {
                        <button class="col-5 mobileDashBtn adminDashBtn2">Doctors Notes</button>
                    }
                    @if (Model.stateTab  == "Unpaid" || Model.stateTab  == "Pending" || Model.stateTab  == "Active" || Model.stateTab  == "Conclude" || Model.stateTab  == "Toclose")
                    {
                        <a href="@Url.Action("ViewUploads", "Admin", new { Id = @request.requestID })" class="col-5 mobileDashBtn adminDashBtn" style="text-align:center;text-decoration:none;">View Uploads</a>
                    }
                    @if (Model.stateTab  == "Active" || Model.stateTab  == "Conclude" || Model.stateTab  == "Toclose")
                    {
                        <a href="@Url.Action("EncounterForm","Admin",new{RequestId = request.requestID})" id=@request.requestID class="col-5 mobileDashBtn adminDashBtn" style="text-align:center;text-decoration:none;">Encounter</a>
                    }
                    @if (Model.stateTab  == "Active" || Model.stateTab  == "Conclude")
                    {
                        <a href="@Url.Action("SendOrder", "Admin", new { Id = @request.requestID })" class="col-5 mobileDashBtn adminDashBtn3" style="text-align:center;text-decoration:none;">Orders</a>
                    }
                    @if (Model.stateTab  == "New")
                    {
                        <button data-bs-toggle="modal" data-bs-target="#AssignCase" id=@request.RequstClientId class="Assign col-5 mobileDashBtn adminDashBtn">Assign</button>

                      
                        <button data-bs-toggle="modal" type="button" data-bs-target="#CancelCase" id=@request.RequstClientId class="Cancel1 col-5 mobileDashBtn bg-danger">
                            Cancel Case</button>

                        <button data-bs-toggle="modal" type="button" data-bs-target="#BlockCase" id=@request.RequstClientId class="Block col-5 mobileDashBtn bg-danger">Block Patient</button>
                    }
                    @*    @if (Model.stateTab  == "New" || Model.stateTab  == "Pending" || Model.stateTab  == "Active" || Model.stateTab  == "Conclude" || Model.stateTab  == "Toclose" || Model.stateTab  == "Unpaid")
                {
                <button class="col-5 mobileDashBtn adminDashBtn">Email</button>
                } *@
                    @if (Model.stateTab  == "Pending")
                    {
                        <button data-bs-toggle="modal" type="button" data-bs-target="#SendAgreement" id=@request.RequstClientId class="SendAgreement col-5 mobileDashBtn adminDashBtn3">Send Agreement</button>

                        <button data-bs-toggle="modal" type="button" data-bs-target="#TransferCase" id=@request.RequstClientId class="Transfer col-5 mobileDashBtn bg-info">Transfer</button>
                    }
                    @if (Model.stateTab  == "Pending" || Model.stateTab  == "Toclose")
                    {
                        <button data-bs-toggle="modal" type="button" data-bs-target="#ClearCase" id=@request.requestID class="Clear col-5 mobileDashBtn adminDashBtn3">Clear Case</button>
                    }

                    @if (Model.stateTab  == "Toclose")
                    {
                        <a href="@Url.Action("CloseCase", "Admin", new { Id = @request.requestID })" style="text-align:center;text-decoration:none;" class="col-5 mobileDashBtn bg-danger">Close Case</a>

                    }



                </div>
                <div class="d-flex justify-content-end align-items-center mt-2">
                    <div>
                        Chat With:
                    </div>
                    <button class="mx-1 bg-transparent btn btn-sm btn-outline-info">Patient</button>
                    <button class="bg-transparent btn btn-sm btn-outline-info">Provider</button>
                </div>
            </div>
        </div>
    }
    <partial name="_Paging.cshtml" />

</div>

@* admin dashboard Desktop *@
<div class=" table-responsive mt-3  adminDashTable">
    <table class="table" id="patientTable" >
        <thead class="table-secondary">
            <tr>
                <th scope="col">Name</th>
                @if (Model.stateTab == "New" || Model.stateTab == "Pending" || Model.stateTab == "Active" || Model.stateTab == "Conclude" || Model.stateTab == "Toclose")
                {
                    <th scope="col">Date&nbsp;of&nbsp;birth</th>

                }
                @if (Model.stateTab  == "New" || Model.stateTab  == "Pending" || Model.stateTab  == "Active")
                {

                    <th scope="col">Requestor</th>
                }
                @if (Model.stateTab  == "New")
                {
                    <th scope="col">Requested Date</th>

                }
                @if (Model.stateTab  == "Pending" || Model.stateTab  == "Active" || Model.stateTab  == "Conclude" || Model.stateTab  == "Unpaid")
                {
                    <th scope="col">Physician Name</th>
                    <th scope="col">Date Of Service</th>

                }
                @if (Model.stateTab  == "Toclose")
                {
                    <th scope="col">Region</th>
                }
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                @if (Model.stateTab  == "New" || Model.stateTab  == "Pending" || Model.stateTab  == "Active")
                {
                    <th scope="col">Notes</th>

                }
                <th scope="col">Chat with</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>


        @foreach (var request in Model.PagingData)
        {

            var bgColor = "";

            switch (request.RequestTypeID)
            {
                case 1:
                    bgColor = "green";
                    break;
                case 2:
                    bgColor = "orange"; //rgb(75, 223, 75)
                    break;
                case 3:
                    bgColor = "blue";
                    break;
                case 4:
                    bgColor = "pink";
                    break;
                default:
                    bgColor = " ";
                    break;
            }

            <tbody>

                <tr class="@bgColor" style="color:white;">
                    <td id="PatientName">@request.PatientName</td>
                    @if (Model.stateTab  == "New" || Model.stateTab  == "Pending" || Model.stateTab  == "Active" || Model.stateTab  == "Conclude" || Model.stateTab  == "Toclose")
                    {
                        <td>@request.DateOfBirth.ToShortDateString()</td>
                    }
                    @if (Model.stateTab  == "New" || Model.stateTab  == "Pending" || Model.stateTab  == "Active")
                    {

                        <td>@request.Requestor</td>
                    }

                    @if (Model.stateTab  == "New")
                    {
                        <td>@request.RequestedDate.ToShortDateString()</td>
                    }
                    @if (Model.stateTab  == "Pending" || Model.stateTab  == "Active" || Model.stateTab  == "Conclude" || Model.stateTab  == "Unpaid")
                    {
                        <td>
                            @if(@request.PhysicianName!=null&&request.PhysicianName!=" ")
                            {
                                @request.PhysicianName
                            }
                            else
                            {
                                <p>-</p>
                            }
                        </td>

                        <td>@request.RequestedDate.ToShortDateString()</td>

                    }
                    @if (Model.stateTab  == "Toclose")
                    {
                        <td>
                            @request.StateofTable
                        </td>

                    }
                    <td>
                        @{
                            var requestor = "";
                            var display = "block";
                            if (request.RequestTypeID == 2)
                            {
                                requestor = "Family/Friend";


                            }
                            else if (request.RequestTypeID == 3)
                            {
                                requestor = "Concierge";

                            }
                            else if (request.RequestTypeID == 1)
                            {
                                requestor = "";
                                display = "none";

                            }
                            else
                            {
                                requestor = "Business";

                            }
                            if (request.RequestorPhone == null)
                            {
                                display = "none";
                            }
                        }
                        <button class="btn btn-light bg-transparent text-white d-flex"  style="">
                            <i class="bi bi-telephone-fill mx-2"></i>
                            @request.PatientPhone
                        </button>
                        (Patient)

                        <div style="display:@display">

                        
                            <button class="btn btn-light bg-transparent text-white d-flex">
                                <i class="bi bi-telephone-fill mx-2"></i>
                                @request.RequestorPhone
                            </button>
                            (@requestor)
                        </div>
                    </td>
                    <td>@request.Address</td>
                    @if (Model.stateTab  == "New" || Model.stateTab  == "Pending" || Model.stateTab  == "Active")
                    {
                        <td>
                            @if(@request.Notes!=null)
                            {
                                @request.Notes
                            }
                            else
                            {
                                <p>-</p>
                            }
                        </td>
                    }
                    <td>
                       
                            @if (Model.stateTab  == "Toclose" || Model.stateTab  == "Pending" || Model.stateTab  == "Active" || Model.stateTab  == "Conclude" || Model.stateTab  == "Unpaid")
                            {

                                <button class="chat btn btn-sm d-flex align-items-center justify-content-center mb-1 " aria-expanded="false" style="width:90px;border-radius: 4px;color:white;border:1px solid white">
                                    <i class="fa fa-user-md mx-1" aria-hidden="true"></i>
                                    Patient
                                </button>
                            }
                            <button class="chat btn btn-sm d-flex align-items-center justify-content-center " aria-expanded="false" style="border-radius: 4px;color:white;border:1px solid white">
                                <i class="fa fa-user-md mx-1" aria-hidden="true"></i>
                                Provider
                            </button>

                       
                    </td>
                    <td>
                        <div class="btn-group dropstart ">
                            <button type="button" class="btn btn-light btn-sm text-white bg-transparent rounded" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu ">
                                <span class="d-flex flex-column  align-items-center menuDashboard">
                                    @if (Model.stateTab  == "New")
                                    {
                                    <li >
                                        <a class="Assign" data-bs-toggle="modal" type="button" data-bs-target="#AssignCase" id=@request.RequstClientId style="text-decoration:none;color:black;">
                                            <i class="bi bi-card-checklist mx-2"></i>
                                            Assign Case
                                        </a>
                                    </li>
                                    <li>
                                        <a class="Cancel1 " data-bs-toggle="modal" type="button" data-bs-target="#CancelCase" id=@request.RequstClientId style="text-decoration:none;color:black;">
                                            <i class="bi bi-x-circle mx-2"></i>
                                            Cancle Case
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewCase", "Admin", new { Id = @request.RequstClientId })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-card-text mx-2"></i>
                                            View Case
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewNotes", "Admin", new { Id = @request.RequstClientId })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-journal-text mx-2"></i>
                                            View Notes
                                        </a>
                                    </li>
                                    <li>
                                        <a class="Block" data-bs-toggle="modal" type="button" data-bs-target="#BlockCase" id=@request.RequstClientId style="text-decoration:none;color:black;">
                                            <i class="bi bi-ban mx-2"></i>
                                            Block Patient
                                        </a>
                                    </li>
                                    }
                                    @if (Model.stateTab  == "Pending")
                                    {
                                    <li>
                                        <a href="@Url.Action("ViewCase", "Admin", new { Id = @request.RequstClientId,status= @request.stateTab })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-card-text mx-2"></i>

                                            View Case
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewUploads", "Admin", new { Id = @request.requestID })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-file-arrow-up mx-2"></i>
                                            View Uploads
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewNotes", "Admin", new { Id = @request.RequstClientId })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-journal-text mx-2"></i>
                                            View Notes
                                        </a>
                                    </li>
                                    <li>
                                        <a class="Transfer" data-bs-toggle="modal" type="button" data-bs-target="#TransferCase" id=@request.RequstClientId style="text-decoration:none;color:black;">
                                            <i class="bi bi-folder-symlink mx-2"></i>
                                            Transfer
                                        </a>
                                    </li>
                                    <li>
                                        <a class="Clear" data-bs-toggle="modal" type="button" data-bs-target="#ClearCase" id=@request.requestID style="text-decoration:none;color:black;">
                                            <i class="bi bi-x-circle mx-2"></i>

                                            Clear Case
                                        </a>
                                    </li>


                                    <li>
                                        <a class="SendAgreement" data-bs-toggle="modal" type="button" data-bs-target="#SendAgreement" id=@request.RequstClientId style="text-decoration:none;color:black;">
                                            <i class="bi bi-journal-arrow-up mx-2"></i>
                                            Send Agreement
                                        </a>
                                    </li>
                                    }
                                    @if (Model.stateTab  == "Active")
                                    {
                                    <li>
                                        <a href="@Url.Action("ViewCase", "Admin", new { Id = @request.RequstClientId ,status= @request.stateTab})" style="text-decoration:none;color:black;">
                                            <i class="bi bi-card-text mx-2"></i>
                                            View Case
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewUploads", "Admin", new { Id = @request.requestID })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-file-arrow-up mx-2"></i>
                                            View Uploads
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewNotes", "Admin", new { Id = @request.RequstClientId })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-journal-text mx-2"></i>
                                            View Notes
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("SendOrder", "Admin", new { Id = @request.requestID })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-bag-plus mx-2"></i>
                                            Orders
                                        </a>
                                    </li>
                                    

                                    <li>
                                        <a href="@Url.Action("EncounterForm","Admin",new{RequestId = request.requestID})" id=@request.requestID style="text-decoration:none;color:black;">
                                            <i class="bi bi-journals mx-2"></i>
                                            Encounter
                                        </a>
                                    </li>
                                    }
                                    @if (Model.stateTab  == "Conclude")
                                    {
                                    <li>
                                        <a href="@Url.Action("ViewCase", "Admin", new { Id = @request.RequstClientId,status= @request.stateTab })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-card-text mx-2"></i>
                                            View Case
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewUploads", "Admin", new { Id = @request.requestID })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-file-arrow-up mx-2"></i>
                                            View Uploads
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewNotes", "Admin", new { Id = @request.RequstClientId })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-journal-text mx-2"></i>
                                            View Notes
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("SendOrder", "Admin", new { Id = @request.requestID })" style="text-decoration:none;color:black;">

                                            <i class="bi bi-bag-plus mx-2"></i>
                                            Orders
                                        </a>
                                    </li>
                                  

                                    <li>
                                        <a href="@Url.Action("EncounterForm","Admin",new{RequestId = request.requestID})" id=@request.requestID style="text-decoration:none;color:black;">
                                            <i class="bi bi-journals mx-2"></i>
                                            Encounter
                                        </a>
                                    </li>
                                    }
                                    @if (Model.stateTab  == "Toclose")
                                    {
                                    <li>
                                        <a href="@Url.Action("ViewCase", "Admin", new { Id = @request.RequstClientId ,status= @request.stateTab})" style="text-decoration:none;color:black;">
                                            <i class="bi bi-card-text mx-2"></i>
                                            View Case
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewUploads", "Admin", new { Id = @request.requestID })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-file-arrow-up mx-2"></i>
                                            View Uploads
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewNotes", "Admin", new { Id = @request.RequstClientId })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-journal-text mx-2"></i>
                                            View Notes
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("SendOrder", "Admin", new { Id = @request.requestID })" style="text-decoration:none;color:black;">

                                            <i class="bi bi-bag-plus mx-2"></i>
                                            Orders
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("CloseCase", "Admin", new { Id = @request.requestID })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-x-circle mx-2"></i>

                                            Close Case
                                        </a>
                                    </li>

                                  
                                    <li>
                                        <a class="Clear" data-bs-toggle="modal" type="button" data-bs-target="#ClearCase" id=@request.requestID style="text-decoration:none;color:black;">
                                            <i class="bi bi-x-circle mx-2"></i>

                                            Clear Case
                                        </a>
                                    </li>

                                   @*  <li>
                                        <a href="@Url.Action("EncounterForm","Admin")" id=@request.requestID style="text-decoration:none;color:black;">
                                            Encounter
                                        </a>
                                    </li> *@
                                    }
                                    @if (Model.stateTab  == "Unpaid")
                                    {
                                    <li>
                                        <a href="@Url.Action("ViewCase", "Admin", new { Id = @request.RequstClientId })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-card-text mx-2"></i>
                                            View Case
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewUploads", "Admin", new { Id = @request.requestID })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-file-arrow-up mx-2"></i>
                                            View Uploads
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewNotes", "Admin", new { Id = @request.RequstClientId })" style="text-decoration:none;color:black;">
                                            <i class="bi bi-journal-text mx-2"></i>
                                            View Notes
                                        </a>
                                    </li>

                                    }
                                </span>
                            </ul>
                        </div>
                    </td>
                </tr>

                        </tbody>
        }
    </table>
    <partial name="_Paging.cshtml" />
</div>

<script>

    //mobile view cards
    var coll = document.getElementsByClassName("collapsible");
    var maintb = document.getElementsByClassName("mobileviewdashboard");

    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content && content.tagName.toLowerCase() === "div") {
                if (content.style.display === "none") {
                    content.style.display = "block";
                } else {
                    content.style.display = "none";
                }
            }
        });
        maintb[i].addEventListener("click", function () {
            this.classList.toggle("active");

        });
    }

    //popup box
    $('.Cancel1').click(function () {
        var id = this.id;

        $.ajax({
            type: "POST",
            dataType: "html",
            data: { id },
            url: "@(Url.Action("CancelCase", "Admin"))",
            success: function (data) {

                $("#CancelCase").find('.modal-content').html(data);
            }
        });
    });
    $('.Assign').click(function () {
        var id = this.id;
        $.ajax({
            type: "POST",
            dataType: "html",
            data: { id },
            url: "@(Url.Action("AssignCase", "Admin"))",
            success: function (data) {
                $("#AssignCase").find('.modal-content').html(data);
            },
            error: function () {
                console.log("error");
            }
        });
    });
    $('.Block').click(function () {
        var id = this.id;


        $.ajax({
            type: "POST",
            dataType: "html",
            data: { id },
            url: "@(Url.Action("BlockCase", "Admin"))",
            success: function (data) {

                $("#BlockCase").find('.modal-content').html(data);
            }
        });
    });
    $('.Transfer').click(function () {
        var id = this.id;
        $.ajax({
            type: "POST",
            dataType: "html",
            data: { id },
            url: "@(Url.Action("TransferCase", "Admin"))",
            success: function (data) {

                $("#TransferCase").find('.modal-content').html(data);
            }
        });
    });
    $('.Clear').click(function () {
        var id = this.id;
        $.ajax({
            type: "POST",
            dataType: "html",
            data: { id },
            url: "@(Url.Action("ClearCase", "Admin"))",
            success: function (data) {

                $("#ClearCase").find('.modal-content').html(data);
            }
        });
    });
    $('.SendAgreement').click(function () {
  
        var id = this.id;
        $.ajax({
            type: "POST",
            dataType: "html",
            data: { id },
            url: "@(Url.Action("SendAgreement", "Admin"))",
            success: function (data) {
             
                

                $("#SendAgreement").find('.modal-content').html(data);
            }
        });
    });

   

</script>
<div id="chatboxdata">
</div>

@* chat box *@

<script>
    $('.chat').on('click', function () {
        $.ajax({
            type: "POST",
            dataType: "html",
            url: "@(Url.Action("chat", "Admin"))",
            success: function (data) {

                $("#chatboxdata").html(data);
            }
        });
    });
</script>
