@model HalloDoc.Entities.ViewModels.TimeSheetViewModel
<form asp-controller="Provider" asp-action="SaveTimeSheet" method="post">
    <div class="table-responsive desktopviewTable">
        <table class="table ">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">Date</th>
                    <th>Shift</th>
                    <th>NightShift Weekend</th>
                    <th scope="col"> Housecall </th>
                    <th scope="col"> Housecall Nights Weekend</th>
                    <th scope="col"> Phone consults</th>
                    <th scope="col"> Phone consult Night Weekend</th>
                    <th scope="col">Batch Testing</th>

                </tr>
            </thead>
            <tbody class="table-group-divider">
                @{
                    int u = 0;
                }
                @for (DateOnly i = Model.startDate; i <= Model.endDate; i = i.AddDays(1))
                {
                    <tr>
                        <input type="hidden" asp-for="TimeSheets[u].startDate" value="@i" >
                        <input type="hidden" asp-for="endDate" value="@Model.endDate">
                        <input type="hidden" asp-for="startDate" value="@Model.startDate">

                        <td>
                            @i
                        </td>
                        <td>

                            @if (@Model.TimeSheets![u].shiftCount == null)
                            {
                                <p>0</p>
                            }
                            else
                            {
                                @Model.TimeSheets![u].shiftCount
                            }
                        </td>
                        <td>
                            @if (@Model.TimeSheets[u].NightShiftWeekend == null)
                            {
                                <p>0</p>
                            }
                            else
                            {
                                @Model.TimeSheets[u].NightShiftWeekend
                            }
                            
                        </td>
                        <td>
                           
                            @if (@Model.TimeSheets[u].Housecalls == null)
                            {
                                <p>0</p>
                            }
                            else
                            {
                                @Model.TimeSheets[u].Housecalls
                            }
                        </td>
                        <td>

                            @if (@Model.TimeSheets[u].HousecallNightsWeekend == null)
                            {
                                <p>0</p>
                            }
                            else
                            {
                                @Model.TimeSheets[u].HousecallNightsWeekend
                            }
                        
                        </td>
                        <td>
                           
                            @if (@Model.TimeSheets[u].phoneConsult == null)
                            {
                                <p>0</p>
                            }
                            else
                            {
                                @Model.TimeSheets[u].phoneConsult
                            }
                        </td>
                        <td>
                            @if (@Model.TimeSheets[u].PhoneconsultNightWeekend == null)
                            {
                                <p>0</p>
                            }
                            else
                            {
                                @Model.TimeSheets[u].PhoneconsultNightWeekend
                            }
                          
                        </td>
                        <td>
                          0
                        </td>
                    </tr>
                    u++;
                }
          
              
            </tbody>
        </table>
       

    </div>


</form>