@model UserAccessViewModel

<div class="table-responsive">
    <table class="table ">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Account type</th>
                <th scope="col">Account POC</th>
                <th scope="col">Phone</th>
                <th scope="col">status</th>
                <th scope="col">Open Requests</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody class="table-group-divider">


            @foreach (var u in Model.PagingData)
            {
                <tr>
                    <input type="hidden" asp-for="@u.AdminID">
                    <input type="hidden" asp-for="@u.PhysicianID">


                    <td>@u.AccountType</td>
                    <td>@u.AccountPOC</td>
                    <td>@u.Phone</td>
                    <td>@u.Status </td>
                    <td>-</td>
                    <td>
                        <div class="d-flex">
                            @if(u.PhysicianID!=0)
                            {
                                
                                <a class="btn btn-outline-info mx-1" asp-action="EditProvider" asp-controller="Admin" asp-route-id="@u.PhysicianID">Edit</a>
                            }
                            else
                            {
                                <a class="btn btn-outline-info mx-1" asp-action="EditAdminAccount" asp-controller="Admin" asp-route-id="@u.AdminID">Edit</a>

                            }
                        </div>
                    </td>

                </tr>
            }


        </tbody>
    </table>
    <partial name="_Paging.cshtml" />

</div>