@model IEnumerable<HalloDoc.Entities.ViewModels.DashboardViewModel>;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create New Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <p class="">
                    Here,I want to create new request for...
                </p>
                <div class=" d-flex justify-content-center ">
                    <button  type="button" class="createNewReqBtn routeModal" onclick="selectOption('me')">
                        Me
                    </button>



                    <button  type="button" class="createNewReqBtn routeModal mx-3" onclick="selectOption('else')">
                        Someone Else
                    </button>


                </div>
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <a type="button" class="createNewReqBtn submitBtn" onclick="continueToPage()">
                    Continue
                </a>

                <button type="button" class="createNewReqBtn" data-bs-dismiss="modal">
                    Cancle
                </button>


            </div>
        </div>
    </div>
</div>


<div class="mainContent2 formshadow rounded mx-auto">
    <h2 class="p-3">Medical History</h2>
    <div class="container-fluid  dashboardtbl     h-100 p-4 " >
        <div class="d-flex justify-content-end">
            <a asp-action="PatientRequest" asp-controller="Patient" class="createNewReqBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <span class="logouttxt">  Create New Request</span>
                <span class="logoutIcon"> <i class="bi bi-plus-lg"></i></span>
            </a>


        </div>
        <div class="table-responsive">
            <table class="table dashboardtbl" id="responsive-table">
                <thead>
                    <tr >
                        <th>Created Date</th>
                        <th>Status</th>
                        <th>File Name</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        string status = "";
                        foreach (var r in Model)
                        {
                                <tr>
                                    <td> @r.CreatedDate</td>
                                    @if (@r.Status == 1)
                                {
                                    status = "pending";
                                }
                                    <td>@status </td>
                                    <td>
                                        @if (@r.FileName != null)
                                    {
                                            <a href="@Url.Action("ViewDocument", "Patient", new { Id = @r.RequstId })">
                                                <button class="normalbtn">Download (@r.FileCount)</button>
                                            </a>
                                    }
                                    </td>

                                </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
    <div class="mbltbl  mt-3  shadow mb-3  rounded h-100  " >
        <div class="d-flex justify-content-end">
            <a class="createNewReqBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <span class="logoutIcon"> <i class="bi bi-plus-lg"></i></span>
            </a>
        </div>
        @foreach (var r in Model)
        {

            <div class="mobileviewdashboard my-3 p-4">

                <button type="button" class="table-btn collapsible">
                    <i class="bi bi-clock"></i>
                    <strong>Created Date: </strong>
                    @r.CreatedDate
                </button>


                <div class="content" style="display:none">
                    <div class="provider d-flex gap-2">
                        <i class="bi bi-person-circle"></i>
                        Provider: <span>-</span>
                    </div>
                    <div class="provider d-flex gap-2">
                        <div class="icons">
                            <i class="bi bi-check-circle"></i>
                        </div>
                        @if (@r.Status == 1)
                        {
                            status = "pending";
                        }
                        Current Status: @status
                    </div>
                    <div class="provider d-flex gap-2">
                        @if (@r.FileName != null)
                        {
                            <a href="@Url.Action("ViewDocument", "Patient", new { Id = @r.RequstId })">
                                <button class="normalbtn">Download (@r.FileCount)</button>
                            </a>
                        }
                    </div>
                </div>
            </div>

        }


    </div>



</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "none") {
                content.style.display = "block";
            } else {
                content.style.display = "none";
            }
        });
    }
    // Submit Request for me or someone else
    let selectedOption = "";

    function selectOption(option) {
        selectedOption = option;

    }
    function continueToPage() {
        if (selectedOption == 'me') {
            sessionStorage.setItem("currentId", "me");
            window.location.href = '@Url.Action("PatientRequest","Patient" )';

        } else {
            sessionStorage.setItem("currentId", "else");
            window.location.href = '@Url.Action("SubmitInformationSomeoneElse", "Patient")';

        }
    }

</script>
