@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<HalloDoc.Models.DashboardViewModel>;

<div class="mainContent2 mx-auto ">
    <div class="d-flex flex-column align-items-center justify-content-center ">


        <div class="PatientInfo d-flex justify-content-between align-items-center">
            <h3>Documents</h3>
            <a asp-action="Dashboard" asp-controller="Patient" style=" right: 0px; text-decoration: none; ">
                <button class="back">
                    <i class="bi bi-chevron-left"></i>
                    back
                </button>
            </a>
        </div>

        <div class="p-5 shadow mb-3  rounded h-100 PatientInfo">
            <form asp-controller="Patient" asp-action="ViewDocument" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="row">

                    <h6>Patient Name:</h6>

                    <div class="col-12 fw-bold">

                        @ViewBag.MySession
                        (MD051023TETE0001)
                    </div>
                    <div class="col-12">
                        <p>Check here for any files that you or the doctors of your subsequents requestors have attached for you to review.</p>
                    </div>
                </div>

                
                <div class="row ">
                    <div class="col-12 col-sm-12">
                       @*  <div class="input-group mb-3">
                            <input style="border-radius:10px" name="a" type="file" class="form-control" id="UploadButton">
                            <button type="submit"> submit</button>
                        </div> *@
                        <input type="file" name="a">
                        <button type="submit" class="upload-btn">
                            <i class="bi bi-cloud-arrow-up"></i>
                            <span class="btntxtupload">&nbsp;Upload</span>
                        </button>
                    </div>
                </div>
                <!-- Add Bootstrap JS -->
                <div class="row ">
                    <div class="col-6 d-flex align-items-center">
                        <h3>Documents</h3>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <a class="logouttxt normalbtn" onclick="Download_all()"> Download All</a>
                        <a class="logoutIcon normalbtn" onclick="Download_all()"><i class="bi bi-cloud-arrow-down"></i></a>
                    </div>
                </div>
            </form>
            <div class="dashboardtbl table-responsive">
                <table class="table table-hover">
                    
                    <thead style="background-color:#F0F0F0">
                       

                        <tr>

                            <th>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                                </div>
                            </th>
                            <th scope="col">File</th>
                            <th scope="col">Uploader</th>
                            <th scope="col">Upload Date</th>
                               <th scope="col">Action</th>

                        </tr>
                      
                    </thead>
                @foreach (var r in Model)
                {
                        <tbody>
                        <tr>
                                <th>
                                    <div class="form-check">
                                        <input class="form-check-input doc-checkbox" type="checkbox" value="" id="flexCheckDefault">

                                    </div>
                                </th>
                                <th scope="row" >@r.FileName</th>
                            <td>@r.Username</td>
                            <td>@r.CreatedDate</td>
                                <td>
                                    <a href="@Url.Action("DownloadFile", "Patient", new { name = r.FileName })" class="btn btn-outline-info download-link">
                                        <i class="bi bi-cloud-arrow-down"></i>
                                    </a>
                                </td>
                          
                        </tr>
                        
                    </tbody>
                    }
                </table>

                </div>

            <div class="mbltbl  mt-3  shadow mb-3  rounded h-100  " style="background-color:white">
             
                @foreach (var r in Model)
                {

                    <div class="mobileviewdashboard my-2 p-3" style="background-color:white">

                        <button type="button" class="table-btn collapsible" style="background-color:white">
                            <div class="form-check">
                                <input class="form-check-input doc-checkbox" type="checkbox" value="" id="flexCheckDefault">
                               
                            </div>
                            <strong class="">  @r.FileName</strong>
                        </button>
                        <div class="content mx-2">
                            <div class="provider d-flex gap-2">
                                @r.Username <span></span>
                            </div>
                            <div class="provider d-flex gap-2">
                               
                               @r.CreatedDate

                            </div>
                            <div class="provider d-flex pt-2 gap-2">
                              @*   <a href="~/uploads/@r.FileName" target="_blank"><i class="bi bi-cloud-arrow-down normalbtn"></i></a> *@
                                <a href="@Url.Action("DownloadFile", "Patient", new { name = r.FileName })" class="btn btn-outline-info download-link">
                                    <i class="bi bi-cloud-arrow-down"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr/>

                }




            </div>

           
        </div>
    </div>
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "none") {
                content.style.display = "block";
            } else {
                content.style.display = "none";
            }
        });
    }

    // download all FileSystem
    function Download_all() {
        var allcheckbox = document.getElementsByClassName('doc-checkbox');
        var alllinks = document.getElementsByClassName('download-link');
        console.log(alllinks.length);
        console.log(allcheckbox.length);
        for (var i = 0; i < allcheckbox.length; i++) {
            if (allcheckbox[i].checked) {
                console.log(alllinks[i]);
                alllinks[i].click();
            }
        }
    }
</script>
